.dropdown-contents {
  max-height: 200px;
  overflow-y: auto;
}

.checkbox-list-toggle-button {
  background: none;
  border: none;
  //height: 100%;
  padding-left: 15px;
  text-align: left;
  width: 100%;

  // floats the caret that bootstrap makes
  &::after {
    float: right;
    margin-top: 8px;
  }
}

.checkbox-list-dropdown-menu-open {
  display: block;
}

.checkbox-list-dropdown-menu {
  width: 100%;
}
