<button type="button" class="dropdown-toggle checkbox-list-toggle-button" (click)="toggleDropdown()">{{ title
    }}&nbsp;</button>
<div class="dropdown">
    <div class="dropdown-menu checkbox-list-dropdown-menu"
         [ngClass]="isVisible ? 'checkbox-list-dropdown-menu-open' : ''">
        <a class="dropdown-item">
            <div class="input-group input-group-sm">
                <span class="input-group-addon" id="sizing-addon3"><i class="fa fa-search"></i></span>
                <input #checkboxlistInput type="text" class="form-control"
                       aria-describedby="sizing-addon3" [(ngModel)]="searchFilterText">
                <span class="input-group-btn" *ngIf="searchFilterText.length > 0">
                    <button class="btn btn-default" type="button" (click)="clearSearch()"><i
                            class="fa fa-times"></i></button>
                </span>
            </div>
        </a>
        <div class="dropdown-divider"></div>
        <div class="dropdown-contents">
            <a class="dropdown-item" *ngFor="let option of DataSource | multiSelectSearchFilter:searchFilterText">
                <a href="javascript:;" role="menuitem" tabindex="-1" (click)="setSelected($event, option)">
                    <input type="checkbox" [checked]="isSelected(option)"/>
                    {{ option.Description }}
                </a>
            </a>
        </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:;" role="menuitem" tabindex="-1" (click)="checkAll()">
            <span class="fa fa-check text-success"></span>
            Check All
        </a>
        <a class="dropdown-item" href="javascript:;" role="menuitem" tabindex="-1" (click)="uncheckAll()">
            <span class="fa fa-times text-danger"></span>
            Uncheck All
        </a>
    </div>
</div>

