<article Id="editConfigPage" *ngIf="visiblePlugin">
    <div class="{{nodeClass}}">
        <form #genericForm="ngForm" (ngSubmit)="saveClicked()">
            <template ngFor let-ln [ngForOf]="editViewRowDataTable">
                <div class="form-group">
                    <template [ngIf]="(ln.htmlControlType =='text' || ln.htmlControlType == 'textarea' || ln.htmlControlType.indexOf('date') >= 0) && ((ln.isVisible != undefined ? ln.isVisible : true) || ln.isAlwaysVisibleOn.indexOf('FormBuilder') > -1 )">
                        <mat-input>
                            <label [attr.for]="ln.sequence"
                                   class="mb-0 form-label">
                                <strong>{{ln.label | LocalizationTranslate}}:</strong>
                            </label>
                            <input name={{ln.label}} #name="ngModel"
                                   [attr.Id]="ln.sequence" type={{ln.htmlControlType}} [(ngModel)]="ln.val"
                                   checked={{ln.val}}
                                   (click)="inputClicked(ln);" (blur)="onBlur(ln)"
                                   [disabled]="!ln.isVisible || ln.readOnly" [required]="ln.required"
                                   [pattern]="ln.pattern" [title]="ln.title" [minlength]="ln.minlength"
                                   [maxlength]="ln.maxlength">
                        </mat-input>
                        <!--</mat-input>-->
                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            {{ln.label}} - {{"ValidInputRequired" | LocalizationTranslate}}
                        </div>
                        <template [ngIf]="ln.isToggleable">
                            <formBuilderInline [PageType]='edit' [pluginInput]="ln.isComplexTypeInlineTemplate"
                                               [gridSettings]="ln.isComplexTypeInlineTemplateConfig"></formBuilderInline>
                        </template>
                    </template>
                    <template [ngIf]="ln.htmlControlType === 'checkbox'">
                        <label *ngIf="ln.isVisible != undefined ? ln.isVisible : true" [attr.for]="ln.sequence"
                               class="mb-0 form-label">
                            <strong>{{ln.label | LocalizationTranslate}}:</strong>
                        </label>
                        <input name={{ln.label}} class="form-control" #name="ngModel" [attr.Id]="ln.sequence"
                               type="checkbox" [(ngModel)]="ln.val" [disabled]="!ln.isVisible || ln.readOnly"
                               (click)="inputClicked(ln)">
                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            {{ln.label}} - {{"ValidInputRequired" | LocalizationTranslate}}
                        </div>
                    </template>
                    <template [ngIf]="ln.htmlControlType === 'select'">
                        <mat-input>
                            <label *ngIf="ln.isVisible != undefined ? ln.isVisible : true" [attr.for]="ln.sequence"
                                   class="mb-0 form-label">
                                <strong>{{ln.label | LocalizationTranslate}}:</strong>
                            </label>
                            <select name={{ln.label}} #name="ngModel"
                                    [(ngModel)]="ln.val" [attr.Id]="ln.sequence"
                                    [required]="ln.isRequired && !isRulesValidation"
                                    [disabled]="!ln.isVisible || ln.readOnly || ln.name == getForeignKeyColumnName()">
                                <option *ngFor="let itemOption of ln.dataSource" value="{{itemOption.Value}}"
                                        selected="ln.val == itemOption.Value">{{itemOption.Description}}
                                </option>
                            </select>
                        </mat-input>
                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            {{ln.label}} - {{"ValidInputRequired" | LocalizationTranslate}}
                        </div>
                    </template>
                    <template [ngIf]="ln.htmlControlType === 'customselect' && (ln.isVisible != undefined ? ln.isVisible : true)">
                        <mat-input>
                            <label [attr.for]="ln.sequence" class="mb-0 form-label">
                                <strong>{{ln.label | LocalizationTranslate}}:</strong>
                            </label>
                            <customDropDown [DataSource]="ln.customdataSource" [selectedValue]="ln.val"
                                            [Disabled]="ln.readOnly != undefined ? ln.readOnly : false"
                                            (DropDownEmitter)="getDropDownResult($event,ln)"></customDropDown>
                        </mat-input>
                    </template>
                    <template [ngIf]="ln.htmlControlType === 'checkboxlist' && (ln.isVisible != undefined ? ln.isVisible : true)">
                        <mat-input>
                            <label [attr.for]="ln.sequence" class="mb-0 form-label">
                                <strong>{{ln.label | LocalizationTranslate}}:</strong>
                            </label>
                            <checkBoxList [DataSource]="ln.dataSource" [(ngModel)]="ln.val" name="{{ln.label}}"
                                          #name="ngModel"
                                          [Disabled]="ln.readOnly != undefined ? ln.readOnly : false"></checkBoxList>
                        </mat-input>
                        <!--
                         <checkBoxList [DataSource]="ln.dataSource" [(ngModel)]="ln.val" name="{{ln.label}}" ngDefaultControl (ngModelChange)="onChange($event)"
                                      [Disabled]="ln.readOnly != undefined ? ln.readOnly : false"></checkBoxList>
                        -->
                    </template>
                    <template [ngIf]="ln.htmlControlType === 'radio'">
                        <label *ngIf="ln.isVisible != undefined ? ln.isVisible : true" [attr.for]="ln.sequence" class="mb-0 form-label">
                            <strong>{{ln.label | LocalizationTranslate}}:</strong>
                        </label>
                        <template ngFor let-itemOption [ngForOf]="ln.dataSource">
                            <br/><input type="radio" [checked]="(itemOption.Value === ln.val)"
                                        [value]="itemOption.Value" name="modeSelector" [(ngModel)]="ln.val"
                                        [disabled]="!ln.isVisible || ln.readOnly" [required]="ln.required">
                            <span>{{itemOption.Description}}</span>
                        </template>
                        <!--<div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            {{ln.label}} - {{"ValidInputRequired" | LocalizationTranslate}}
                        </div>-->
                    </template>
                    <template [ngIf]="ln.htmlControlType === 'upload'">
                        <label *ngIf="ln.isVisible != undefined ? ln.isVisible : true" [attr.for]="ln.sequence" class="mb-0 form-label">
                            <strong>{{ln.label | LocalizationTranslate}}:</strong>
                        </label>
                        <customUploader [UploadOptions]="uploadOptions"
                                        [Disabled]="ln.readOnly != undefined ? ln.readOnly : false"></customUploader>
                    </template>
                    <template *ngIf="ln.isVisible" ngFor let-er [ngForOf]="ln.errors">
                        <div class="alert alert-danger">
                            {{er | LocalizationTranslate}}
                        </div>
                    </template>
                    <template [ngIf]="ln.htmlControlType === 'searchlist'">
                        <label *ngIf="ln.isVisible != undefined ? ln.isVisible : true" [attr.for]="ln.sequence" class="mb-0 form-label">
                            <strong>{{ln.label | LocalizationTranslate}}:</strong>
                        </label>
                        <div class="form-group">
                            <input type="text" name={{ln.label}} class="form-control" [(ngModel)]="filter"
                                   placeholder="..enter the value to filter by." (change)="0">
                        </div>
                        <div class="form-group">
                            <div class="item-list">
                                <template ngFor let-itemOption [ngForOf]="ln.dataSource | searchFilter:[filter, ln.dataSourceAddress.searchFilterFields, editViewRowDataTable]">
                                    <div class="item-list-entry" (click)="searchListClicked(ln.name, itemOption)">
                                        <span *ngFor="let field of ln.dataSourceAddress.displayList.Fields;let i = index" [attr.data-index]="i">
                                            <span *ngIf="i > 0"> - </span>
                                            {{itemOption[field]}}
                                        </span>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </template>
                </div>
            </template>
            <div id="buttons" class="form-group">
                <template [ngIf]="PageType!='dynamicform'">
                    <button type="submit" [disabled]="!genericForm.form.valid"
                            title="{{'Save' | LocalizationTranslate}}" class="btn btn-td"
                            *ngIf="PageType != 'view'">
                        <span class="fa fa-floppy-o"></span>
                        {{"Save" | LocalizationTranslate}}
                    </button>
                    <button type="button" title="{{'Cancel' | LocalizationTranslate}}" (click)="cancelClicked()"
                            class="btn btn-td" *ngIf="!IsHideCancel">
                        <span class="fa fa-ban"></span>
                        {{"Cancel" | LocalizationTranslate}}
                    </button>
                </template>
                <template ngFor let-childButton [ngForOf]="customButtonsList">
                    <button *ngIf="childButton.visible != undefined ? childButton.visible : true" type="button"
                            title="{{childButton.name | LocalizationTranslate}}"
                            [disabled]="childButton.disabled != undefined ? childButton.disabled : false"
                            class="btn btn-td" (click)="customButtonClicked(childButton)">
                        {{childButton.name | LocalizationTranslate}}
                    </button>
                </template>
            </div>
        </form>
    </div>
</article>

<article id="pluginSection">
    <div #dynamicplugin></div>
</article>
