/********************************************************
 * Named colors
 *******************************************************/
/****************************************
*   TDAM dark theme - Colors
*****************************************/
/* Primary buttons */
/*$btn-primary-gradient-49-color: #B94D00;*/
/*$btn-primary-gradient-50-color: #ac3e01;*/
/*$btn-primary-gradient-100-color: #B04A02;*/
/* Secondary buttons */
/*$btn-secondary-border-color: #7ea292 !default;*/
/*$btn-secondary-bg-hover-color: #e9f2d8  !default;*/
/*$btn-secondary-border-hover-color: #68a92e !default;*/
/*$btn-secondary-gradient-49-color: #EBF6D4;*/
/*$btn-secondary-gradient-50-color: #D9E7C0;*/
/*$btn-secondary-gradient-100-color: #E5F3CD;*/
/*$btn-secondary-gradient-49-focus-color: #D9EDB3;*/
/*$btn-secondary-gradient-50-focus-color: #C7DE9E;*/
/*$btn-secondary-gradient-100-focus-color: #D2E9AA;*/
/* Disabled buttons */
/*$primary-border-hover: #3f7e61;*/
/*$primary-bg-gradient-color: #dbe9e2;*/
/* DataGrid Spreadsheet */
/****************************************
*   TDAM standard theme - Styling rules (general)
*****************************************/
.tdam-button-primary {
  border: #ac3e01;
  color: #ffffff;
  background: #c0570d;
  background: -moz-linear-gradient(top, #c0570d 0%, #b84c00 49.9%, #ad3e01 50%, #b24b02 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c0570d), color-stop(49.9%, #b84c00), color-stop(50%, #ad3e01), color-stop(100%, #b24b02));
  background: -webkit-linear-gradient(top, #c0570d 0%, #b84c00 49.9%, #ad3e01 50%, #b24b02 100%);
  background: -o-linear-gradient(top, #c0570d 0%, #b84c00 49.9%, #ad3e01 50%, #b24b02 100%);
  background: -ms-linear-gradient(top, #c0570d 0%, #b84c00 49.9%, #ad3e01 50%, #b24b02 100%);
  background: linear-gradient(top, #c0570d 0%, #b84c00 49.9%, #ad3e01 50%, #b24b02 100%); }
  .tdam-button-primary:focus, .tdam-button-primary:hover {
    color: #ffffff;
    border-color: #ad0101;
    background: #b54c00;
    background: -moz-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b54c00), color-stop(49.9%, #b54c00), color-stop(50%, #9e3900), color-stop(100%, #b54c00));
    background: -webkit-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%);
    background: -o-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%);
    background: -ms-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%);
    background: linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); }

.tdam-button-secondary {
  border-color: #042f07;
  color: black;
  background: yellow;
  background: -moz-linear-gradient(top, yellow 0%, #e3bb00 49.9%, #c2a600 50%, #d9bc00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, yellow), color-stop(49.9%, #e3bb00), color-stop(50%, #c2a600), color-stop(100%, #d9bc00));
  background: -webkit-linear-gradient(top, yellow 0%, #e3bb00 49.9%, #c2a600 50%, #d9bc00 100%);
  background: -o-linear-gradient(top, yellow 0%, #e3bb00 49.9%, #c2a600 50%, #d9bc00 100%);
  background: -ms-linear-gradient(top, yellow 0%, #e3bb00 49.9%, #c2a600 50%, #d9bc00 100%);
  background: linear-gradient(top, yellow 0%, #e3bb00 49.9%, #c2a600 50%, #d9bc00 100%); }
  .tdam-button-secondary:active, .tdam-button-secondary:hover, .tdam-button-secondary:focus {
    color: #1a5336;
    border-color: black;
    background: #e3c100;
    background: -moz-linear-gradient(top, #e3c100 0%, #ba9e00 49.9%, #968201 50%, #ab9400 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e3c100), color-stop(49.9%, #ba9e00), color-stop(50%, #968201), color-stop(100%, #ab9400));
    background: -webkit-linear-gradient(top, #e3c100 0%, #ba9e00 49.9%, #968201 50%, #ab9400 100%);
    background: -o-linear-gradient(top, #e3c100 0%, #ba9e00 49.9%, #968201 50%, #ab9400 100%);
    background: -ms-linear-gradient(top, #e3c100 0%, #ba9e00 49.9%, #968201 50%, #ab9400 100%);
    background: linear-gradient(top, #e3c100 0%, #ba9e00 49.9%, #968201 50%, #ab9400 100%); }

.tdam-button-disabled, button.tdam-disabled {
  background-color: #dadada;
  border-color: #cccccc;
  color: #707070;
  outline-color: #cccccc; }

input,
select {
  background-color: black; }

input[type="text"]:hover, input[type="text"]:active, input[type="text"]:focus {
  border-color: #000000;
  border-bottom-color: #008000; }

textarea, .form-control {
  background-color: #ffffff;
  border-color: #bdbdbd;
  border-bottom-color: #707070;
  color: #000000; }
  textarea:hover, textarea:focus, .form-control:hover, .form-control:focus {
    border-color: #000000;
    border-bottom-color: #008000; }
  fieldset[disabled] textarea, fieldset[disabled] .form-control {
    background-color: #dadada;
    border-bottom-color: #008000; }

.tdam-select select:-moz-focusring {
  color: transparent; }

.tdam-select select {
  color: #ffffff; }

.tdam-select:after {
  color: #ffffff; }

.tdam-select:hover, .tdam-select:focus {
  border-bottom-color: #008000; }

.tdam-panel {
  background-color: #707070;
  color: #ffffff;
  border-color: #bdbdbd; }

.tdam-treeview-panel {
  background-color: #707070;
  /* nested panels */ }
  .tdam-treeview-panel .tdam-treeview-panel {
    background-color: #575757; }
    .tdam-treeview-panel .tdam-treeview-panel .tdam-treeview-panel {
      background-color: #3d3d3d; }

body {
  background: #000000;
  color: #ffffff; }

.tdam-tabs-primary {
  border-bottom-color: #9dc2b1; }
  .tdam-tabs-primary .tdam-tab-item {
    border-color: #9dc2b1;
    border-bottom-color: #ffffff; }
    .tdam-tabs-primary .tdam-tab-item .tdam-tab-item-text {
      color: #1a5336; }
    .tdam-tabs-primary .tdam-tab-item:hover, .tdam-tabs-primary .tdam-tab-item:focus {
      border-color: #1a5336;
      border-bottom-color: #ffffff;
      background: #ffffff; }
      .tdam-tabs-primary .tdam-tab-item:hover .tdam-tab-item-text, .tdam-tabs-primary .tdam-tab-item:focus .tdam-tab-item-text {
        color: #000000; }
    .tdam-tabs-primary .tdam-tab-item.tdam-tab-item-active {
      border-color: #707070;
      border-bottom-color: #ffffff;
      background: #ffffff; }
      .tdam-tabs-primary .tdam-tab-item.tdam-tab-item-active .tdam-tab-item-text {
        color: #000000; }

#tenant-options h2 {
  color: #555555; }

#tenant-options .module {
  color: #ffffff;
  background-color: #1a5336; }
  #tenant-options .module:hover {
    background-color: #bdbdbd;
    color: #000000; }

/****************************************
*   TDAM standard theme - Styling rules (components)
*****************************************/
.ng-valid[required] {
  border-left-color: #00A221; }

.ng-invalid {
  border-left-color: #ad0101; }

#dataGridBody {
  border-color: #bdbdbd; }

#dataGridFilters {
  border: 1px solid #bdbdbd;
  margin-bottom: 20px; }
  #dataGridFilters #dataGridFilterControls .row {
    background: #555555; }

#dataGridDynamicHeader [class^="col-"] {
  background-color: black; }

#dataGridHeader > .row {
  background: none;
  background-color: #000000;
  border-bottom-color: #bdbdbd; }
  #dataGridHeader > .row > div > div {
    border-right-color: #bdbdbd; }
  #dataGridHeader > .row #dataGrid-buttons-header {
    border-right-color: #bdbdbd; }
  #dataGridHeader > .row [class^="col-"] {
    border-top-color: #bdbdbd; }

#dataGridLookups > .row {
  background: none;
  background-color: #000000; }
  #dataGridLookups > .row > div > div {
    border-bottom-color: #bdbdbd;
    border-right-color: #bdbdbd; }
  #dataGridLookups > .row #dataGrid-buttons-lookups {
    border-right-color: #bdbdbd; }

#dataGrid,
#dataGrid-spreadsheet,
#editForm {
  /* Hover coloring */
  /* Zebra striping */ }
  #dataGrid > .row:hover,
  #dataGrid-spreadsheet > .row:hover,
  #editForm > .row:hover {
    background-color: #555555; }
  #dataGrid > .row:hover > div > div > [class^="col-"],
  #dataGrid-spreadsheet > .row:hover > div > div > [class^="col-"],
  #editForm > .row:hover > div > div > [class^="col-"] {
    background-color: #555555; }
  #dataGrid > .row:hover > #dataGrid-buttons,
  #dataGrid-spreadsheet > .row:hover > #dataGrid-buttons,
  #editForm > .row:hover > #dataGrid-buttons {
    background-color: #555555; }
  #dataGrid .row:nth-child(even),
  #dataGrid-spreadsheet .row:nth-child(even),
  #editForm .row:nth-child(even) {
    background-color: #555555; }
    #dataGrid .row:nth-child(even) #dataGrid-buttons,
    #dataGrid-spreadsheet .row:nth-child(even) #dataGrid-buttons,
    #editForm .row:nth-child(even) #dataGrid-buttons {
      background-color: #555555; }
  #dataGrid .row:nth-child(odd),
  #dataGrid-spreadsheet .row:nth-child(odd),
  #editForm .row:nth-child(odd) {
    background-color: #000000; }
  #dataGrid > .flex-container:nth-child(even),
  #dataGrid-spreadsheet > .flex-container:nth-child(even),
  #editForm > .flex-container:nth-child(even) {
    background-color: #555555; }
  #dataGrid > .flex-container:nth-child(odd),
  #dataGrid-spreadsheet > .flex-container:nth-child(odd),
  #editForm > .flex-container:nth-child(odd) {
    background-color: #000000; }

#dataGrid > .row,
#dataGrid-spreadsheet > .row {
  border-right-color: #bdbdbd;
  border-bottom-color: #bdbdbd; }
  #dataGrid > .row div > div > div,
  #dataGrid-spreadsheet > .row div > div > div {
    border-right-color: #bdbdbd; }

#dataGrid-spreadSheet {
  /* individual cells */ }
  #dataGrid-spreadSheet > .row {
    border-right-color: #bdbdbd; }
    #dataGrid-spreadSheet > .row > article {
      border-top-color: #bdbdbd; }
  #dataGrid-spreadSheet > .row:nth-child(even) div div [class^="col-"] {
    background-color: #555555; }

/* Expand and collapse icons */
.toggleItem {
  color: #bdbdbd; }

#editInlinePage form [class^="col-"] {
  background-color: #ffef99 !important; }

#editInlinePage form #buttons {
  background-color: inherit; }

.expand-content {
  background-color: #9dc2b1; }

#dataGrid-buttons {
  border-right-color: #bdbdbd; }

#editForm #buttons {
  background-color: #f9f9fb; }

#editForm #children .row {
  background-color: #000000; }

#tdam-nav-level2,
#tdam-sub-nav {
  background-color: #0e3e26; }
  #tdam-nav-level2 ul li span.tdam-nav-level2-label,
  #tdam-sub-nav ul li span.tdam-nav-level2-label {
    color: #ffffff; }
    #tdam-nav-level2 ul li span.tdam-nav-level2-label:hover,
    #tdam-sub-nav ul li span.tdam-nav-level2-label:hover {
      background: #555555;
      color: #ffffff; }
  #tdam-nav-level2 ul li a.list-group-item-info,
  #tdam-sub-nav ul li a.list-group-item-info {
    border-bottom-color: #95C838;
    /* bootstrap override */
    background: none; }

#navbar-alerts {
  background-color: #f9f9fb;
  border-color: #000000; }

#account-link a {
  color: #ffffff; }

.tdam-flyout ul {
  background-color: #707070;
  border-color: #bdbdbd; }
  .tdam-flyout ul .tdam-flyout-link {
    color: #ffffff; }
  .tdam-flyout ul li a.list-group-item-info {
    border-bottom-color: #95C838;
    /* bootstrap override */
    background: none; }

/* Level 1 */
#tdam-nav-left ul {
  background: #000000;
  border-top-color: 0px solid #bdbdbd; }
  #tdam-nav-left ul li {
    background-color: #f9f9fb;
    border-color: #bdbdbd; }
    #tdam-nav-left ul li a {
      color: #0e3e26; }
      #tdam-nav-left ul li a:hover, #tdam-nav-left ul li a:focus {
        color: #000000;
        background-color: transparent; }

/* Level 2 */
#tdam-nav-left ul li ul li {
  background-color: transparent; }
  #tdam-nav-left ul li ul li span.tdam-nav-left-label {
    border-top-color: #f9f9fb; }

/* Level 3 */
#tdam-nav-left ul li ul li ul {
  background-color: transparent; }

/* Active Pages */
#tdam-nav-left ul li span a.list-group-item-info {
  /*bootstrap override*/
  background: none; }

.tdam-background-primary-primary {
  background-color: #555555; }

.tdam-pagination > li {
  color: #000000; }
  .tdam-pagination > li > a,
  .tdam-pagination > li > span {
    color: #ffffff;
    background-color: #707070;
    border-color: #cccccc; }

.tdam-pagination > li > a:hover, .tdam-pagination > li > a:focus,
.tdam-pagination > li > span:hover,
.tdam-pagination > li > span:focus {
  color: #707070;
  background-color: #bdbdbd;
  border-color: #dadada; }

.tdam-pagination > .active > a, .tdam-pagination > .active > a:hover, .tdam-pagination > .active > a:focus,
.tdam-pagination > .active > span,
.tdam-pagination > .active > span:hover,
.tdam-pagination > .active > span:focus {
  color: #ffffff;
  background-color: #1a5336;
  border-color: #ffffff; }

.tdam-pagination > .disabled > span,
.tdam-pagination > .disabled > span:hover,
.tdam-pagination > .disabled > span:focus,
.tdam-pagination > .disabled > a,
.tdam-pagination > .disabled > a:hover,
.tdam-pagination > .disabled > a:focus {
  color: #cccccc;
  background-color: #555555;
  border-color: #dadada; }

#treeview-node-body {
  background-color: #ffffff; }
  #treeview-node-body #editForm {
    background-color: #ffffff; }
    #treeview-node-body #editForm > .flex-container {
      background-color: #ffffff; }

#treeview-node-header {
  border-bottom-color: #bdbdbd; }

#treeview-parent-column {
  background-color: #ffffff; }
