/********************************************************
 * Named colors
 *******************************************************/
/****************************************
*   Dark theme - Colors
*****************************************/
/*$primary-border-hover: #3f7e61;*/
/*$primary-bg-gradient-color: #dbe9e2;*/
/* DataGrid Spreadsheet */
/****************************************
*   TDAM dark theme - Styling rules (general)
*****************************************/
.accordion .card-header a:active,
.accordion .card-header a:focus {
  color: #ffffff; }

.accordion .card-header a:hover {
  color: #00A221; }

.button-standard {
  border-color: #042f07 !important;
  color: black;
  background: yellow;
  background: -moz-linear-gradient(top, yellow 0%, #e3bb00 49.9%, #c2a600 50%, #d9bc00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, yellow), color-stop(49.9%, #e3bb00), color-stop(50%, #c2a600), color-stop(100%, #d9bc00));
  background: -webkit-linear-gradient(top, yellow 0%, #e3bb00 49.9%, #c2a600 50%, #d9bc00 100%);
  background: -o-linear-gradient(top, yellow 0%, #e3bb00 49.9%, #c2a600 50%, #d9bc00 100%);
  background: -ms-linear-gradient(top, yellow 0%, #e3bb00 49.9%, #c2a600 50%, #d9bc00 100%);
  background: linear-gradient(top, yellow 0%, #e3bb00 49.9%, #c2a600 50%, #d9bc00 100%); }
  .button-standard:active, .button-standard:hover, .button-standard:focus {
    color: black;
    border-color: black;
    background: #e3c100;
    background: -moz-linear-gradient(top, #e3c100 0%, #d6d600 49.9%, #afb201 50%, #c4c700 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e3c100), color-stop(49.9%, #d6d600), color-stop(50%, #c2a600), color-stop(100%, #c4c700));
    background: -webkit-linear-gradient(top, #e3c100 0%, #d6d600 49.9%, #afb201 50%, #c4c700 100%);
    background: -o-linear-gradient(top, #e3c100 0%, #d6d600 49.9%, #afb201 50%, #c4c700 100%);
    background: -ms-linear-gradient(top, #e3c100 0%, #d6d600 49.9%, #afb201 50%, #c4c700 100%);
    background: linear-gradient(top, #e3c100 0%, #d6d600 49.9%, #afb201 50%, #c4c700 100%); }

/* Badges */
.cal-day-badge {
  background-color: #b94a48;
  color: #ffffff; }

.cal-day-badge-fatal {
  background-color: #8d2709;
  color: #ffffff; }

.cal-day-badge-future {
  background-color: #191597;
  color: #ffffff; }

.cal-day-badge-ok {
  background-color: #187826;
  color: #ffffff; }

/* Month View */
.cal-month-view .cal-cell-row:hover {
  background-color: #555555; }

.cal-month-view .cal-cell-row .cal-cell:hover,
.cal-month-view .cal-cell.cal-has-events.cal-open {
  background-color: #3c3c3c; }

.cal-month-view .cal-day-cell.cal-today {
  background-color: #e8fde7; }

.cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
  color: #12ff00; }

.cal-month-view .cal-day-cell:not(:last-child) {
  border-right-color: #e1e1e1; }

.cal-month-view .cal-days {
  border-color: #e1e1e1; }
  .cal-month-view .cal-days .cal-cell-row {
    border-color: #e1e1e1; }

.cal-month-view .cal-event-title {
  color: #ffffff; }

.cal-month-view .cal-day-open-events {
  background-color: #555555;
  color: #ffffff; }

/* Week view */
.cal-week-view .cal-day-headers {
  border-color: #e1e1e1; }

.cal-week-view .cal-header:hover {
  background-color: #ededed; }

.cal-week-view .cal-header:not(:last-child) {
  border-color: #e1e1e1; }

.cal-week-view .cal-header.cal-today {
  background-color: #e8fde7; }

.cal-week-view .cal-header.cal-weekend span {
  color: #12ff00; }

/* Day view */
.cal-day-view .cal-hour:nth-child(odd) {
  background-color: #fafafa; }

.cal-day-view .cal-hour:not(:last-child) .cal-hour-segment,
.cal-day-view .cal-hour:last-child :not(:last-child) .cal-hour-segment {
  border-bottom-color: #e1e1e1; }

.cal-day-view .cal-hour-rows {
  border-color: #e1e1e1; }

.cal-day-view .cal-hour-segment:hover {
  background-color: #ededed; }

.check-box-list #check-box-list-checkboxes {
  border-color: #bdbdbd; }
  .check-box-list #check-box-list-checkboxes label:hover {
    background-color: #f9f9fb; }

input,
select {
  background-color: #000000;
  color: #ffffff; }

input[type="text"]:hover, input[type="text"]:active, input[type="text"]:focus {
  border-color: #000000;
  border-bottom-color: #008000; }

input[type="text"][disabled],
input[type="text"] .form-control[readonly] {
  background-color: #555555 !important;
  color: #ffffff; }

textarea, .form-control {
  background-color: #000000 !important;
  border-color: #bdbdbd;
  border-bottom-color: #707070;
  color: #ffffff !important; }
  textarea:hover, textarea:focus, .form-control:hover, .form-control:focus {
    border-color: #000000;
    border-bottom-color: #008000; }
  fieldset[disabled] textarea, fieldset[disabled] .form-control {
    background-color: #555555;
    border-bottom-color: #008000; }

body {
  background: #000000;
  color: #ffffff; }

a {
  color: #ffffff; }

#tileview-options .card {
  background-color: #1a5336 !important;
  color: #ffffff; }
  #tileview-options .card:hover {
    background-color: #555555 !important; }

/****************************************
*   TDAM standard theme - Styling rules (components)
*****************************************/
.breadcrumb {
  background-color: #000000; }
  .breadcrumb .breadcrumb-item a {
    color: white !important; }

.ng-valid[required] {
  border-left-color: #00A221; }

.ng-invalid {
  border-left-color: #ad0101; }

#dataGridBody {
  border-color: #bdbdbd; }

#dataGridDynamicHeader [class^="col-"] {
  background-color: black; }

#dataGridHeader tr {
  background: none;
  background-color: #555555; }

#dataGridHeader th {
  border-bottom-color: #bdbdbd;
  border-right-color: #bdbdbd; }

#dataGridLookups {
  background: transparent; }

#dataGrid-spreadSheet > .displayGrid-row:nth-child(odd) {
  background-color: #555555; }

/* Expand and collapse icons */
.toggleItem {
  color: #bdbdbd; }

#dataGrid-buttons {
  border-right-color: #bdbdbd; }

#main-nav {
  background-color: #0e3e26; }

.nav a:hover, .nav a:focus {
  color: #ffffff; }

.nav .nav-item:hover {
  background-color: #555555; }

.nav-link {
  color: #ffffff !important; }
  .nav-link.list-group-item-info {
    background-color: #00A221 !important; }

#navbar-alerts {
  background-color: #f9f9fb;
  border-color: #000000; }

.right-menu-item:hover {
  background-color: inherit !important; }

.navbar-toggler {
  color: #ffffff; }

.dropdown-menu a:hover {
  color: #000000; }

.standard-callout-background {
  background-color: #555555; }

.pagination .page-item {
  border-color: #cccccc !important; }
  .pagination .page-item .page-link {
    background-color: #707070 !important;
    color: #ffffff !important; }
  .pagination .page-item:hover, .pagination .page-item:focus {
    background-color: #bdbdbd !important;
    border-color: #dadada !important; }
    .pagination .page-item:hover .page-link, .pagination .page-item:focus .page-link {
      color: #ffffff !important; }
  .pagination .page-item.active .page-link, .pagination .page-item.active:hover .page-link, .pagination .page-item.active:focus .page-link {
    background-color: #1a5336 !important;
    border-color: #ffffff !important;
    color: #ffffff !important; }
  .pagination .page-item.disabled a,
  .pagination .page-item.disabled a:hover,
  .pagination .page-item.disabled a:focus {
    color: #cccccc;
    background-color: #555555 !important;
    border-color: #dadada !important; }

.global-spinner {
  background: rgba(128, 128, 128, 0.75); }
  .global-spinner .spinner-wrapper {
    background: #555555; }

.standard-spinner {
  border-color: #bdbdbd;
  border-top-color: #00A221; }

#sub-nav {
  background-color: #2D6716 !important; }

#typeahead-list {
  border-color: #008000; }
  #typeahead-list .list-group-item:hover {
    background-color: #bdbdbd; }

.card {
  background-color: inherit;
  border-color: #555555; }
  .card .card-header {
    background-color: #555555; }

.nav-tabs .nav-item a.active,
.nav-tabs .nav-item a:hover,
.nav-tabs .nav-item .nav-link.active:hover {
  background-color: #1a5336;
  border-color: #000000;
  color: #ffffff; }
