.processList {
  width: 100%;
  height: 300px;
  border: 2px solid #73AD21;
  overflow-y: auto;
  background: white; }

.itemList:hover {
  background-color: greenyellow;
  cursor: hand; }

input:required {
  border-color: red !important; }

input:required + label {
  color: red; }
