<article Id="editConfigPage">
    <div class="col-md-12">
        <section Id="editForm">
            <form #genericformInline="ngForm" (ngSubmit)="saveClicked()">
                <template ngFor let-ln [ngForOf]="editViewRowDataTable">
                    <div class="form-group">
                        <template
                                [ngIf]="ln.htmlControlType === 'radio' && ln.htmlControlType === 'checkbox'">
                            <label class="form-label" [attr.for]="ln.sequence">{{ln.label}}:</label>
                        </template>
                        <template
                                [ngIf]="ln.htmlControlType !== 'select' && ln.htmlControlType !== 'radio' && ln.htmlControlType !== 'checkbox'">
                            <mat-input>
                                <label class="form-label" [attr.for]="ln.sequence">{{ln.label}}:</label>
                                <input name={{ln.label}} #name="ngModel" [attr.Id]="ln.sequence"
                                       type={{ln.htmlControlType}}
                                       [(ngModel)]="ln.val" checked={{ln.val}}
                                       (click)="inputClicked(ln)" [disabled]="!ln.isVisible || ln.readOnly"
                                       [required]="ln.isRequired && !gridSettings['RulesConfig']">
                            </mat-input>
                            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                                Valid input for {{ln.label}} is required
                            </div>
                            <div>
                                <formBuilder></formBuilder>
                            </div>
                        </template>
                        <template [ngIf]="ln.htmlControlType === 'checkbox'">
                            <label class="form-label" [attr.for]="ln.sequence">{{ln.label}}:</label>
                            <input name={{ln.label}} #name="ngModel" [attr.Id]="ln.sequence" type="checkbox"
                                   [(ngModel)]="ln.val" [disabled]="!ln.isVisible || ln.readOnly"
                                   (click)="inputClicked(ln)" [required]="ln.isRequired">
                        </template>
                        <template [ngIf]="ln.htmlControlType === 'select'">
                            <mat-input>
                                <label class="form-label" [attr.for]="ln.sequence">{{ln.label}}:</label>
                                <select name={{ln.label}} #name="ngModel" [(ngModel)]="ln.val" [attr.Id]="ln.sequence"
                                        [required]="ln.isRequired && !gridSettings['RulesConfig']"
                                        [disabled]="!ln.isVisible || ln.readOnly">
                                    <option *ngFor="let itemOption of ln.dataSource" value="{{itemOption.Value}}">
                                        {{itemOption.Description}}
                                    </option>
                                </select>
                            </mat-input>
                            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                                Valid input for {{ln.label}} is required
                            </div>
                        </template>
                        <template [ngIf]="ln.htmlControlType === 'radio'">
                            <label class="form-label" [attr.for]="ln.sequence">{{ln.label}}:</label>
                                <span *ngFor="let itemOption of ln.dataSource">
                                    <div class="row">
                                        <input name="ln.objId" type="radio" [(ngModel)]="ln.val"
                                               [disabled]="!ln.isVisible || ln.readOnly" value="{{itemOption}}"><span
                                            class="float-xs-left">{{' ' + itemOption + '    '}}</span><br/>
                                    </div>
                                </span>
                            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                                Valid input for {{ln.label}} is required
                            </div>
                        </template>
                        <template ngFor let-er [ngForOf]="ln.errors">
                            <div class="alert alert-danger">
                                {{er | LocalizationTranslate}}
                            </div>
                        </template>
                    </div>
                </template>
                <div id="buttons" class="form-group">
                    <br/>
                    <!--[disabled]="!genericformInline.form.valid"-->
                    <button type="submit" [disabled]="!genericformInline.form.valid" class="btn btn-sm btn-td"
                            *ngIf="PageType != 'view'">
                        <span class="fa fa-floppy-o"></span>
                        Save
                    </button>
                    <button type="button" (click)="cancelClicked()" class="btn btn-sm btn-td">
                        <span class="fa fa-ban"></span>
                        Cancel
                    </button>
                </div>
            </form>
        </section>
    </div>
</article>
<!--
<article id="pluginSection">
    <div #dynamicplugin></div>
</article>-->
