@import "../../../../assets/_mixins";

.ct-area {
  fill-opacity: .5;
}

.ct-label{
  color:  #000000;
  opacity: 0.9;
  fill:  #000000;
}

.ct-chart .ct-label{
  font-size: 1em;
  color:  #000000;
}

.ct-chart svg{
  width: 100%;
  display: block;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point,.ct-series-a .ct-slice-donut,.ct-series-a .ct-slice-pie {
  stroke: #00abff !important;
}
.ct-series-a .ct-slice-pie,.ct-series-a .ct-area{
  fill: #00abff !important;
}


.ct-series-b .ct-bar,.ct-series-b  .ct-line,.ct-series-b .ct-point,.ct-series-b .ct-slice-donut,.ct-series-b .ct-slice-pie {
  stroke: #8bd22f !important;
}
.ct-series-b .ct-slice-pie,.ct-series-b .ct-area{
  fill: #8bd22f !important;
}


.ct-series-c .ct-bar, .ct-series-c .ct-line, .ct-series-c .ct-point,.ct-series-c .ct-slice-donut, .ct-series-c .ct-slice-pie {
  stroke: #f95372 !important;
}
.ct-series-c .ct-slice-pie, .ct-series-c .ct-area{
  fill: #f95372 !important;
}

.ct-series-d .ct-bar, .ct-series-d .ct-line,.ct-series-d .ct-point,.ct-series-d .ct-slice-donut,.ct-series-d .ct-slice-pie {
  stroke: #e7ba08 !important;
}
.ct-series-d .ct-slice-pie,.ct-series-d .ct-area{
  fill: #e7ba08 !important;
}



.ct-series-e .ct-bar, .ct-series-e  .ct-line,.ct-series-e  .ct-point,.ct-series-e  .ct-slice-donut, .ct-series-e .ct-slice-pie {
  stroke: #40daf1 !important;
}
.ct-series-e .ct-slice-pie,.ct-series-e  .ct-area{
  fill:  #40daf1 !important;
}


.stacked-bar .ct-bar{
  stroke-width: 30px;
}

.legend-color {
  width: 30px;
  height: 30px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  top: 27px;
  border-radius: 15px;
  left: -45px;
}

.channels-info {
  display: inline-block;
  width: calc(50% - 88px);
  margin-left: 70px;
}
.channels-info-item p {
  margin-bottom: 9px;
  // font-size
  @include em(18px);
  opacity: 0.9;
  color: black;
}
.channels-info-item .channel-number {
  display: inline-block;
  float: right;
  color: black;
}
.channel-progress {
  height: 4px;
  border-radius: 0;
  width: 100%;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: none;
}
.channel-progress .progress {
  height: 4px;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: none;
}