.mat-editing {
  color: #008000 !important;
}

.mat-input-infix {
  > input,
  > select,
  > customdropdown > select,
  > typeahead-input > input {
    border: none;
    height: initial;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

//.mat-hide-date-input {
//  input [type="date"],
//  input [type="datetime-local"] {
//    // chrome compatibility - JetBrains throws warnings that can be ignored
//    &::-webkit-datetime-edit-year-field,
//    &::-webkit-datetime-edit-month-field,
//    &::-webkit-datetime-edit-day-field,
//    &::-webkit-datetime-edit-hour-field,
//    &::-webkit-datetime-edit-minute-field,
//    &::-webkit-datetime-edit-ampm-field,
//    &::-webkit-datetime-edit-text {
//      color: transparent;
//    }
//  }
//}

.mat-input-infix {
  position: relative;
}

.mat-input-table {
  display: inline-table;
  vertical-align: bottom;
  width: 100%;

  > * {
    display: table-cell;
  }
}

.mat-input-placeholder {
  left: 0;
  margin-bottom: 0;
  position: absolute;
  top: 0;
}

.mat-input-placeholder-floating {
  padding-bottom: 5px;
  transform: translateY(-80%);
  transition-duration: 0.4s;
}

.mat-input-placeholder:not(.mat-input-placeholder-floating) {
  cursor: text;
  transform: translateY(0%);
  transition-duration: 0.4s;
}

.mat-input-underline {
  border-top-width: 1px;
  border-top-style: solid;
  height: 1px;
  margin-top: 4px;
  width: 100%;
}

.mat-input-placeholder-disabled {
  cursor: not-allowed !important;
  opacity: 0.5;
}