.has-success {
  position: relative; }
  .has-success .control-label {
    color: #ffffff; }
  .has-success .form-control {
    border: 1px solid #a2db59; }
    .has-success .form-control:focus {
      box-shadow: none;
      border-color: #8bd22f; }
  .has-success label.custom-checkbox {
    color: #a2db59; }
    .has-success label.custom-checkbox > span:before {
      color: #a2db59; }
    .has-success label.custom-checkbox > span:hover:before {
      border-color: #a2db59; }
  .has-success .form-control-feedback {
    color: #a2db59; }
  .has-success .input-group-addon {
    background-color: #a2db59;
    color: #ffffff; }

.has-warning {
  position: relative; }
  .has-warning .control-label {
    color: #ffffff; }
  .has-warning .form-control {
    border: 1px solid #ecc839; }
    .has-warning .form-control:focus {
      box-shadow: none;
      border-color: #e7ba08; }
  .has-warning label.custom-checkbox {
    color: #ecc839; }
    .has-warning label.custom-checkbox > span:before {
      color: #ecc839; }
    .has-warning label.custom-checkbox > span:hover:before {
      border-color: #ecc839; }
  .has-warning .form-control-feedback {
    color: #ecc839; }
  .has-warning .input-group-addon {
    background-color: #ecc839;
    color: #ffffff; }

.has-error {
  position: relative; }
  .has-error .control-label {
    color: #ffffff; }
  .has-error .form-control {
    border: 1px solid #fa758e; }
    .has-error .form-control:focus {
      box-shadow: none;
      border-color: #f95372; }
  .has-error label.custom-checkbox {
    color: #fa758e; }
    .has-error label.custom-checkbox > span:before {
      color: #fa758e; }
    .has-error label.custom-checkbox > span:hover:before {
      border-color: #fa758e; }
  .has-error .form-control-feedback {
    color: #fa758e; }
  .has-error .input-group-addon {
    background-color: #fa758e;
    color: #ffffff; }

label.custom-checkbox {
  margin-bottom: 12px; }
  label.custom-checkbox > span {
    display: block;
    margin-right: 10px; }
