<article Id="editConfigPage" *ngIf="visiblePlugin">
    <div class="col-md-12">
        <div class="{{nodeClass}}">
            <section Id="editForm">
                <form #genericForm="ngForm">
                    <template ngFor let-ln [ngForOf]="editViewRowDataTable">
                        <div class="col-md-5">
                            <label [attr.for]="ln.sequence">{{ln.label}}:</label>
                        </div>
                        <div class="col-md-7">
                            <template [ngIf]="ln.htmlControlType !== 'select' && ln.htmlControlType !== 'radio' && ln.htmlControlType !== 'checkbox'">
                                <input name={{ln.label}} #name="ngModel" [attr.Id]="ln.sequence" type={{ln.htmlControlType}} [(ngModel)]="ln.val" checked={{ln.val}}>
                                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                                    Valid input for {{ln.label}} is required
                                </div>
                            </template>
                            <template [ngIf]="ln.htmlControlType === 'checkbox'">
                                <input name={{ln.label}} #name="ngModel" [attr.Id]="ln.sequence" type="checkbox" [(ngModel)]="ln.val" [disabled]="!ln.isVisible" (click)="inputClicked(ln)">
                                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                                    Valid input for {{ln.label}} is required
                                </div>
                            </template>
                            <template [ngIf]="ln.htmlControlType === 'select'">
                                <select name={{ln.label}} #name="ngModel" [(ngModel)]="ln.val" [attr.Id]="ln.sequence">
                                    <option *ngFor="let itemOption of ln.dataSource" value="{{itemOption}}">{{itemOption}}</option>
                                </select>
                                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                                    Valid input for {{ln.label}} is required
                                </div>
                            </template>
                            <template [ngIf]="ln.htmlControlType === 'radio'">
                                <template ngFor let-itemOption [ngForOf]="ln.dataSource">
                                    <div class="row">
                                        <input name="ln.objId" type="radio" [(ngModel)]="ln.val" value="{{itemOption}}"><span class="float-xs-left">{{' ' + itemOption + '    '}}</span><br/>
                                    </div>
                                </template>
                            </template>
                        </div>
                    </template>
                    <div id="buttons" class="form-group">
                        <button (click)="saveClicked()" class="btn btn-td">
                            <span class="fa fa-floppy-o"></span>
                            Save
                        </button>
                        <button (click)="cancelClicked()" class="btn btn-td" *ngIf="!IsHideCancel">
                            <span class="fa fa-ban"></span>
                            Cancel
                        </button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</article>
