<div class="modal" tabindex="-1" style="display:block !important;">
    <div class="modal-dialog" style="width:40%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="cancel()"><span aria-hidden="true">&times;</span></button>
            </div>
            <span><strong>Pre Approval List(Promotion # {{currentPromo.promotionID}})</strong></span>
            <div class="modal-body">
                <div>
                    <table>
                        <tr>
                            <th>Originator</th>
                            <th>Audit Item</th>
                            <th>Support File</th>
                            <th>Risk</th>
                            <th>Status</th>
                            <th>Reviewer</th>
                            <th></th>
                        </tr>
                        <tr *ngFor="#item of preAprovedList">
                            <td>{{item.originatorID}}</td>
                            <td>{{item.auditItem }}</td>
                            <td>{{item.supportFile}}</td>
                            <td>{{item.riscFactor }}</td>
                            <td>{{item.approvalStatus}}</td>
                            <td>{{item.reviewerID}}</td>
                            <td><a href="#" (click)="makeItCurrent(item)">Edit</a></td>

                        </tr>

                    </table>

                </div>
                <div><br></div>
                <div  *ngIf="showCurrentItem">
                    <table>
                        <tr>
                            <td>Originator:</td>
                            <td>{{currentItem.originatorID}}</td>
                        </tr>
                        <tr>
                            <td>Audit Item:</td>
                            <td>{{currentItem.auditItem}}</td>
                        </tr>
                        <tr><td>File to be uploaded:</td>
                           <td><span><input type="file" id="fileInput" name="fileInput" (change)="onChange($event)" /><button (click)="getFile()">Upload the file</button> </span>
                           </td>
                        </tr>
                        <tr>
                            <td>Uploaded Files:</td>
                            <td>
                                <div class="processList">
                                    <div *ngFor="#file of currentItem.supportFiles">
                                        <span class="itemList" (dblclick)="fileRemove(file)">{{file}}</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Risck Impact:</td>
                            <td><select [(ngModel)]="currentItem.riscFactor">
                                <option value="-1"></option>
                                <option value="1">Low</option>
                                <option value="2">Medium</option>
                                <option value="3">High</option>
                            </select></td>
                        </tr>
                        <tr>
                            <td>Approval Status::</td>
                            <td><input type="checkbox" [(ngModel)]="currentItem.approvalStatus"></td>
                        </tr>
                        <tr>
                            <td>Reviewer:</td>
                            <td>
                                 <select [(ngModel)]="currentItem.reviewerID"><option value=""></option>
                                    <option *ngFor="#item of utilService.reviewers" value="{{item.id}}" >{{item.name}}</option>
                                </select>


                            </td>
                        </tr>
                        <tr><td>Message history:</td>
                        <div>
                            <span *ngFor="#msg of currentItem.messagesList">
                                {{msg.User}} - {{msg.UserId}} - {{msg.Message}}
                            </span>

                        </div>

                        </tr>
                        <tr>
                            <td>Message:</td>
                            <td><textarea placeholder="Enter your message here" [(ngModel)]="currentItem.message"></textarea></td>
                        </tr>
                    </table>

                </div>
            </div>
            <div class="modal-footer">

                <button class="td-button td-button-secondary" name="btnSave" (click)="update()" *ngIf="showCurrentItem">
                    <span class="glyphicon glyphicon-check"></span>
                    Update
                </button>
                <button class="td-button td-button-secondary" name="btnCancel" (click)="cancel()" *ngIf="showCurrentItem">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                    Cancel
                </button>

            </div>
        </div>
    </div>

</div>