<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Cash In Lieu (CIL) Instructions
            <file-import></file-import>
            <span class="label label-{{ statusColour }} pull-right">{{ status }}</span>
        </h4>
    </div>
    <div class="panel-body">
        <table class="table text-center">
            <thead>
                <th>Trade Me</th>
                <th>Trade Date</th>
                <th>File Name</th>
                <th>Order Number</th>
                <th>Fund Ticker</th>
                <th>Country</th>
                <th>SEDOL</th>
                <th>Special Instructions</th>
            </thead>
            <tbody>
                <tr *ngIf="orders.length == 0">
                    <td colspan="8">No data available to display.</td>
                </tr>
                <tr *ngFor="#order of orders">
                    <td><input type="checkbox" [(ngModel)]="order.hasTradeFlag" (change)="selectionChange($event)"></td>
                    <td>{{ order.tradeDate | date }}</td>
                    <td>File Name?</td>
                    <td>{{ order.orderNumber }}</td>
                    <td>{{ order.fundTicker }}</td>
                    <td>{{ order.country }}</td>
                    <td>{{ order.sedol }}</td>
                    <td>{{ order.specialInstructions }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>