<template [ngIf]="isOpen">
    <template ngFor let-item [ngForOf]="Items">
        <template [ngIf]="!(item.hasSimpleObjects)">
            <!--<span (click)="toggle(item)" class="node">{{nodeTitle}} {{item.title}}</span>-->
            <!--<img src="./app/Datahub/img/collapse_expand.png" (click)="toggle(item)" class="expandCollapseBtn"><button class="button-standard" (click)="addNewNode(item)">Add New</button>-->
            <!--<template [ngIf]="item.expanded && item.showAddBttn">
                <button class="button-standard" (click)="addNewNode(item)">Add New</button>
            </template>-->
            <!--<template [ngIf]="item.expanded">
                <json-edit [inputJson]='item' [isRoot]='false' [parentStep]="parentStep"
                           [PredefinedJsonValues]="PredefinedJsonValues"
                           [hierarchyLvl]="hierarchyLvl"></json-edit>
            </template>-->
            <!--<accordion [title]="nodeTitle + ' ' + item.title">-->
            <accordion [title]="item.title ? nodeTitle + ' ' + item.title : nodeTitle">
                <accordionBodyContent>
                    <div class="form-group">
                        <button class="btn btn-td" (click)="addNewNode(item)">
                            <span class="fa fa-plus"></span> Add New
                        </button>
                    </div>
                    <json-edit [inputJson]='item' [isRoot]='false' [parentStep]="parentStep"
                               [PredefinedJsonValues]="PredefinedJsonValues"
                               [hierarchyLvl]="hierarchyLvl"></json-edit>
                </accordionBodyContent>
            </accordion>
        </template>
        <template [ngIf]="item.hasSimpleObjects">
            <last-item [Items]="item" [isProcess]="isProcess"
                       [PredefinedJsonValues]="PredefinedJsonValues" [hierarchyLvl]="hierarchyLvl"
                       [showEdit]="false" (removeThis)="removeItem($event)" (nodeMove)="nodeMove($event)"></last-item>
        </template>
    </template>
    <template [ngIf]="isRoot">
        <div class="card-block">
            <button id="saveTop" class="btn btn-td" (click)="doSave()" *ngIf="showSave">
                <span class="fa fa-floppy-o"></span> Apply Changes
            </button>
            <!--
            <button class="tdam-button tdam-button-secondary" (click)="createTableView()" *ngIf="showSave">
                {{tableViewBttn}}
            </button>
            -->
            <button class="btn btn-td" (click)="cancelClicked()">
                <span class="fa fa-ban"></span> Cancel
            </button>
        </div>
        <!--
        <div *ngIf="showTableView" class="listArea">
            <br>
            <table id="tblList" style="border: 1px solid black;">
                <tr style="border: 1px solid black; background-color: #f4f5f3; height: 30px">
                    <th style="border: 1px solid black;text-align: center" *ngFor="let item of headerList">
                        <span style="font-weight:bold">{{item}}</span>
                    </th>
                    <th>
                        <span style="font-weight:bold">Ops available</span>
                    </th>
                </tr>
                <tr *ngFor="let rowArray of editList"
                    style="nth-child(2n) {background-color: #00AA00}; border: 1px solid black">

                    <td *ngFor="let item of rowArray"
                        style="width:50px; text-align:right;  padding: 5px; border: 1px solid black">
                        <input size="10" *ngIf="item.objType == 'textbox' || item.objType == 'checkbox' " #theValue readonly="{{item.readOnly}}"
                               type="text" class="neutral"
                               [ngClass]="{neutral: !item.isChanged, changed: item.isChanged}" [(ngModel)]="item.value"
                               (ngModelChange)="itemChanged(item)" (keyup)="checkIt($event, item)">

                        <select *ngIf="item.objType =='dropdown'" class="sizedSelect" #theValue
                                [ngClass]="{neutral: !item.isChanged, changed: item.isChanged}"
                                [(ngModel)]="item.value">
                            <option *ngFor="let itemOption of item.listValues" value="{{itemOption}}">{{itemOption}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <button (click)="removeEditListItem(rowArray)"><span class="glyphicon glyphicon-trash"></span></button>

                        <button (click)="rowOfEditListMove(rowArray, 'up')"  data-toggle="tooltip" title="Move row up." style="float: right;height: 20px;">
                            <span class="fa fa-arrow-up fa-lg"></span>
                        </button>
                        <button (click)="rowOfEditListMove(rowArray, 'down')"  data-toggle="tooltip" title="Move row down." style="float: right;height: 20px;">
                            <span class="glyphicon glyphicon-arrow-down"></span>
                        </button>

                    </td>

                </tr>

            </table>
            <br>
            <button id="saveBottom" class="btn tdam-button-secondary" (click)="doSave()" *ngIf="showSave">Apply Table
                Changes
            </button>
        </div>
        -->
    </template>
</template>
