<accordion [title]="title">
    <accordionHeaderContent>
        <!--<span (click)="expanded = !expanded" class="node">{{title}}</span>-->
        <!--<img src="./app/Datahub/img/collapse_expand.png" (click)="expanded = !expanded" class="expandCollapseBtn">-->
        <button (click)="removeMe()" class="btn btn-sm btn-td float-xs-right">
            <span class="fa fa-trash"></span>
        </button>
    </accordionHeaderContent>
    <!--
    <button (click)="moveMe('up')"  data-toggle="tooltip" title="Move node up." style="float: right;height: 20px;">
        <span class="fa fa-arrow-up fa-lg"></span>
    </button>
    <button (click)="moveMe('down')"  data-toggle="tooltip" title="Move node up." style="float: right;height: 20px;">
        <span class="glyphicon glyphicon-arrow-down"></span>
    </button>
-->
    <accordionBodyContent>
        <template ngFor let-item [ngForOf]="Items">
            <div class="form-group">
                <template [ngIf]="item.objType =='textbox'">
                    <mat-input>
                        <label class="form-label"><strong>{{item.label}}</strong></label>
                        <input #theValue readonly="{{item.readOnly}}" type="text"
                               class="neutral"
                               [ngClass]="{neutral: !item.isChanged, changed: item.isChanged}"
                               [(ngModel)]="item.value" (keyup)="checkIt($event, item)"
                               (ngModelChange)="itemChanged(item)">
                    </mat-input>
                </template>
                <template [ngIf]="item.objType =='checkbox'">
                    <label class="form-label"><strong>{{item.label}}</strong></label>
                    <input #theValue readonly="{{item.readOnly}}" type="checkbox" [(ngModel)]="item.value"
                           class="form-control" (keyup)="checkIt($event, item)" (ngModelChange)="itemChanged(item)">
                </template>
                <template [ngIf]="item.objType =='dropdown'">
                    <mat-input>
                        <label class="form-label"><strong>{{item.label}}</strong></label>
                        <select #theValue [ngClass]="{neutral: !item.isChanged, changed: item.isChanged}"
                                [(ngModel)]="item.value" (ngModelChange)="itemChanged(item)">
                            <option *ngFor="let itemOption of item.listValues" value="{{itemOption}}">{{itemOption}}
                            </option>
                        </select>
                    </mat-input>
                </template>
                <template [ngIf]="showEdit">
                    <div class="col-md-1">
                        <button *ngIf="showEdit" type="button" class="btn btn-sm btn-td" (click)="removeItem(item)">
                            <span class="fa fa-trash"></span>
                        </button>
                    </div>
                </template>
            </div>
            <div class="row">
                <button *ngIf="showEdit && hierarchyLvl != 3" class="btn btn-td" (click)="adding = true">
                    <span class="fa fa-plus"></span>New Property
                </button>
                <button class="btn btn-td" (click)="resetAll()" *ngIf="!formIsClean && showEdit">Reset All
                </button>
            </div>
        </template>
        <template [ngIf]="adding">
            <template [ngIf]="hasValidTemplate">
                <input type="checkbox" [(ngModel)]="fromPredefined" value="true" (click)="usePredefinedKeys()"> Use
                template Values<br>
            </template>
            <template [ngIf]="fromPredefined">
                <select class="form-control" [(ngModel)]="newKey" #objKey
                        (change)="showOptionsForKeyValue(objKey.value)">
                    <option *ngFor="let itemOption of preDefinedJsonKeys" value="{{itemOption}}">{{itemOption}}</option>
                </select>
            </template>
            <input class="form-control" *ngIf="!fromPredefined" #objKey placeholder="json key" [(ngModel)]="newKey"
                   (keyup)="cleanIt(objKey)"/>
            <input class="form-control" *ngIf="keyValueTypeObj == 'textbox'" #objValue placeholder="value"
                   [(ngModel)]="newKeyValue" (keyup)="cleanIt(objValue)"/>
            <select class="form-control" *ngIf="keyValueTypeObj =='dropdown'" [(ngModel)]="newKeyValue">
                <option *ngFor="let itemOption of keyValueTypeOptions" value="{{itemOption}}">{{itemOption}}</option>
            </select>
            <button *ngIf="showEdit" class="btn btn-td" (click)="saveNewProp(newKey ,newKeyValue)">
                <span class="fa fa-floppy-o"></span>
            </button>
            <button *ngIf="showEdit" class="btn btn-td" (click)="adding = false">
                <span class="fa fa-ban"></span>
            </button>
        </template>
    </accordionBodyContent>
</accordion>
