.changed {
  background-color: $pale-yellow;
}

.neutral {
  background-color: white;
}
.addNewSelect {
  height: 25px;
  width: 280px;
}
.addNewInput {
  height: 25px;
  width: 280px;
}


.sizedSelect {
   height: 25px;
   width: 55%;
 }
.sizedInpt {
  height: 25px;
  width: 85%;
}


#editList {
  width: 45%;
  margin-left: 15px;
}

button {
  margin: 2px 2px 2px 2px;
}
.tdUl {
  width: 2%;
  text-align: left;
}
.tdLeft {
  width: 20%;
  text-align: left;
}
.tdRight {
  width: 5%;
  text-align: right;
 }
.tdMiddle {
  width: 70%;
  text-align: right;
  padding: 4px;
}

#tblList tr:nth-child(even) {
  background-color: #E8E8E8;
}
#tblList tr:nth-child(odd) {
  background-color: #ffffff;
}
#tblList{
  width:100%;
}
