<div *ngIf="isOpen">
    <div>
        <ul *ngFor="#item of Items">
            <li *ngIf="!(item.hasSimpleObjects)">
                <span (click)="toggle(item)">{{nodeTitle}} {{item.title}}</span>
                <div *ngIf="item.expanded">
                    <span *ngIf="item.showAddBttn">  <button class="tdam-button tdam-button-secondary" (click)="addNewNode(item)">Add New</button></span>
                    <ul>
                        <json-edit [inputJson]='item' [isRoot]='false'
                                   [PredefinedJsonValues]="PredefinedJsonValues" [hierarchyLvl]="hierarchyLvl"></json-edit>
                    </ul>
                </div>
            </li>
            <li *ngIf="item.hasSimpleObjects">
                <last-item [Items]="item" [isProcess]="isProcess" [PredefinedJsonValues]="PredefinedJsonValues" [hierarchyLvl]="hierarchyLvl" [showEdit]="showSave"></last-item>
            </li>
        </ul>
    </div>
    <div *ngIf="isRoot">
        <button id="saveTop" class="tdam-button tdam-button-secondary" (click)="doSave()" *ngIf="showSave"><span class="glyphicon glyphicon-save"></span> Apply Changes</button>
         <button class="tdam-button tdam-button-secondary" (click)="createTableView()" *ngIf="showSave">{{tableViewBttn}}</button>
        <button class="tdam-button tdam-button-secondary" (click)="cancelClicked()"><span class="glyphicon glyphicon-ban-circle"></span> Cancel</button>
    </div>
    <br>
    <div *ngIf="showTableView">
         <br>
        <table id="tblList" style="border: 1px solid black;">
            <tr style="border: 1px solid black; background-color: #f4f5f3; height: 30px">
                    <th  style="border: 1px solid black;text-align: center" *ngFor="#item of headerList">
                    <span style="font-weight:bold">{{item}}</span>
                </th>
            </tr>
            <tr *ngFor="#rowArray of editList" style="nth-child(2n) {background-color: #00AA00}; border: 1px solid black" >

                <td *ngFor="#item of rowArray" style="width:50px; text-align:right;  padding: 5px; border: 1px solid black">
                    <input size="10"  *ngIf="item.objType =='textbox'" #theValue readonly="{{item.readOnly}}" type="text" class="neutral" [ngClass]="{neutral: !item.isChanged, changed: item.isChanged}" [(ngModel)]="item.value" (ngModelChange)="itemChanged(item)" (keyup)="checkIt($event, item)"  >

                    <select *ngIf="item.objType =='dropdown'" class="sizedSelect" #theValue [ngClass]="{neutral: !item.isChanged, changed: item.isChanged}" [(ngModel)]="item.value" >
                        <option  *ngFor="#itemOption of item.listValues"  value="{{itemOption}}">{{itemOption}}</option>
                    </select>
                </td>
            </tr>

        </table>

        <br>
        <button id="saveBottom"  class="btn tdam-button-secondary" (click)="doSave()" *ngIf="showSave">Apply changes</button>
    </div>

</div>
