<div *ngIf="isOpen" class="card">
    <div class="card-header">
        <ul>
            <li style="display: inline-block">
                <span><strong>{{documentTitle}}</strong></span>
                <template [ngIf]="availableSections.length > 0">
                    <button style="height:25px" (click)="addNewSection(newOption.value)">Add New Section</button>
                    <select #newOption style="width: 150px;height:23px">
                        <option>Choose a section</option>
                        <option *ngFor="let itemOption of availableSections" value="{{itemOption}}">{{itemOption}}
                        </option>
                    </select>
                </template>
            </li>
        </ul>
    </div>
    <div class="card-block">
        <template ngFor let-section [ngForOf]="mainArray">
            <accordion [title]="section.sectionName">
                <accordionHeaderContent>
                    <button (click)="removeSection(section)" class="btn btn-sm btn-td float-xs-right">
                        <span class="fa fa-trash"></span>
                    </button>
                </accordionHeaderContent>
                <accordionBodyContent>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-scroll-wrapper">
                                <table class="table table-bordered table-hover table-striped">
                                    <tr>
                                        <th class="text-xs-center" *ngFor="let item of headerList">
                                            <span><strong>{{item}}</strong></span>
                                        </th>
                                        <th>
                                            <span><strong>Ops available</strong></span>
                                        </th>
                                    </tr>
                                    <tr *ngFor="let rowArray of section">
                                        <td *ngFor="let item of rowArray" class="text-xs-center">
                                            <input *ngIf="item.objType == 'textbox' " #theValue
                                                   readonly="{{item.readOnly}}"
                                                   type="text" class="form-control-sm full-width"
                                                   [ngClass]="{neutral: !item.isChanged, changed: item.isChanged}"
                                                   [(ngModel)]="item.value"
                                                   (ngModelChange)="itemChanged(item, section)"
                                                   (keyup)="checkIt($event, item)">
                                            <input *ngIf="item.objType =='checkbox'" #theValue
                                                   readonly="{{item.readOnly}}"
                                                   type="checkbox"
                                                   [(ngModel)]="item.value" (keyup)="checkIt($event, item)"
                                                   (ngModelChange)="itemChanged(item,section)">
                                            <select *ngIf="item.objType =='dropdown'" class="form-control-sm full-width"
                                                    #theValue
                                                    [ngClass]="{neutral: !item.isChanged, changed: item.isChanged}"
                                                    [(ngModel)]="item.value">
                                                <option *ngFor="let itemOption of item.listValues"
                                                        value="{{itemOption}}">
                                                    {{itemOption}}
                                                </option>
                                            </select>
                                        </td>
                                        <td class="text-xs-center">
                                            <button class="btn btn-sm btn-td"
                                                    (click)="removeRowItem(rowArray, section)">
                                                <span class="fa fa-fw fa-trash"></span>
                                            </button>
                                            <button class="btn btn-sm btn-td"
                                                    (click)="addNewRow(rowArray, section)"
                                                    data-toggle="tooltip" title="Insert new row below.">
                                                <span class="fa fa-fw fa-plus"></span>
                                            </button>
                                            <button class="btn btn-sm btn-td"
                                                    *ngIf="section.indexOf(rowArray) > 0"
                                                    (click)="moveRow(rowArray, section, 'up')"
                                                    data-toggle="tooltip"
                                                    title="Move row up.">
                                                <span class="fa fa-fw fa-arrow-up"></span>
                                            </button>
                                            <button class="btn btn-sm btn-td"
                                                    *ngIf="section.indexOf(rowArray) < section.length-1"
                                                    (click)="moveRow(rowArray, section, 'down')"
                                                    data-toggle="tooltip"
                                                    title="Move row down.">
                                                <span class="fa fa-fw fa-arrow-down"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </accordionBodyContent>
            </accordion>
        </template>
    </div>
    <div class="card-block">
        <button id="saveTop" class="btn btn-td" (click)="doSave()">
            <span class="fa fa-floppy-o"></span> Apply Changes
        </button>
        <button class="btn btn-td" (click)="cancelClicked()">
            <span class="fa fa-ban"></span> Cancel
        </button>
    </div>
</div>
