.Warn {
  color: orange;
}

.Error, .Fatal {
  color: red;
}

.changed {
  background-color: #fff9d9;
}

.neutral {
  background-color: white;
}

.topMargin {
  display:block;
  margin-top:10px
}
.schematicState{
  color:black;
  font-weight: bold;
}

.tblStepsConfig{
  width: 100%
}

.tblStepsConfig td{
  width: 100%;
  padding: 10px;
}



// too tip settings
.ntooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.ntooltip .ntooltiptext {
  visibility: hidden;
  background-color: rgba(92, 239, 21, 0.97);
  color: rgba(43, 13, 33, 1);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 10;
}


.ntooltip:hover .ntooltiptext {
  visibility: visible;
}
.ntooltip .ntooltiptext {
  width: 320px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}
