**/node_modules
**/*.sln
**/*.csproj
**/*.suo
**/*.*.user
**/bin
**/obj
!Scripts/*.js
!systemjs.config.js
!gulpfile.js
!gulp.config.js
npm-debug.log
**/.idea
**/build
**/dist
!resources/Bootstrap/bootstrap.css
**/resources
**/*.js
**/*.js.map
**/.idea
!Scripts/*.js
!config/*.js
!webpack.config.js
!config/html-elements-plugin/*js
!postcss.config.js