.uploader-header {
  margin-bottom: 30px;

  #uploader-button {
    float: left;
    font-weight: initial !important;
    margin-right: 5px;
    margin-top: -5px;
  }
}

databaseUploadTool {

  #mainConfigPage {
    padding: 10px;
  }
}

.uploader-button-disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.uploader-table {
  margin-bottom: 20px;
  width: 100%;

  th {
    border-bottom: 2px solid #DDD;
    // font-size
    @include em(15px);
    font-weight: bold;
    padding-bottom: 5px;
  }

  td {
    padding: 5px;
  }
}