<article Id="editConfigPage">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs float-md-left">
                    <!--<li class="tdam-tab-item" (click)="showMainPage()"><div class="tdam-tab-item-text">{{mainModelName}}</div></li>-->
                    <li class="nav-item" *ngFor="let ln of children" (click)="childClicked(ln)">
                        <a class="nav-link {{ln.activeClassChild}}">{{ln.name | LocalizationTranslate}}</a>
                    </li>
                </ul>
            </div>
            <div class="card-block">
                <div class="col-md-12">
                    <section Id="editForm">
                        <form genericMainTreeForm="ngForm">
                            <template [ngIf]="visiblePlugin">
                                <!--<section id="mainPage"  class="flex-container" *ngIf="isMainPageVisible">-->
                                <!-- <div id="mainPageValues">
                                     <div *ngFor="let ln of editViewRowDataTable">
                                        <h3><strong>{{ln.label}}</strong> : {{ln.val}}</h3>
                                     </div>
                                 </div>-->
                                <!--</section>-->
                                <br/>
                                <section id="children">
                                    <template ngFor let-ln [ngForOf]="children">
                                        <div class="row">
                                            <template [ngIf]="ln.visible">
                                                <div class="card-block">
                                                    <button *ngIf="canAdd" title="{{'Add' | LocalizationTranslate}}" (click)="addClicked(ln)" class="button-standard ">
                                                        <span class="fa fa-plus fa-lg"></span> {{"Add" | LocalizationTranslate}}
                                                        {{ln.modelName | LocalizationTranslate}}
                                                    </button>
                                                </div>
                                                <template [ngIf]="ln.addDetail">
                                                    <treeViewAddEditForm [originalInput]="originalInput" [NodeClass]="singleEditClass" [pluginInput]="addEditObject" [gridSettings]="addEditObjectConfig" [childRulesConfig]="ln.childRulesConfig"></treeViewAddEditForm>
                                                </template>
                                                <treeViewChildrenParser [children]="ln" [gridSettings]="addEditObjectConfig"></treeViewChildrenParser>
                                            </template>
                                        </div>
                                    </template>
                                </section>
                                <!--<section id="mainPage"  class="flex-container" *ngIf="isMainPageVisible">
                                    <div *ngFor="let ln of editViewRowDataTable">
                                        <div >
                                            <div>
                                                <div class="flex-container">
                                                    <div> {{ln.label}}: </div>
                                                    <div> {{ln.val}} </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>-->
                            </template>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</article>






