<div class="cal-week-view">
    <div class="cal-day-headers">
        <mwl-calendar-week-view-header
                *ngFor="let day of days"
                [day]="day"
                [locale]="locale"
                (click)="dayClicked.emit({date: day.date})">
        </mwl-calendar-week-view-header>
    </div>
    <div *ngFor="let eventRow of eventRows">
        <div
                class="cal-event-container"
                *ngFor="let weekEvent of eventRow.row"
                [style.width]="((100 / 7) * weekEvent.span) + '%'"
                [style.marginLeft]="((100 / 7) * weekEvent.offset) + '%'">
            <mwl-calendar-week-view-event
                    [weekEvent]="weekEvent"
                    [tooltipPlacement]="tooltipPlacement"
                    (eventClicked)="eventClicked.emit({event: weekEvent.event})">
            </mwl-calendar-week-view-event>
        </div>
    </div>
</div>