<template [ngIf]="apiIsLoaded">
    <!-- adding New Schematic section, visible when Add new schematic is pressed -->
    <template [ngIf]="addSchematicVisibility">
        <div class="card-block">
            <div class="form-group">
                <mat-input>
                    <label for="schematicName" class="form-label"><strong>Schematic Name</strong></label>
                    <input id="schematicName" #newSchematicName type="text" size="40">
                </mat-input>
            </div>
            <div class="form-group">
                <button (click)="saveNewSchematic(newSchematicName.value)" class="btn btn-td"
                        title="Save schematic.">
                    <span class="fa fa-floppy-o"></span>
                    Save Schematic
                </button>
                <button (click)="cancelSchematicClicked()" class="btn btn-td" title="Cancel">
                    <span class="fa fa-ban"></span>
                    Cancel
                </button>
            </div>
        </div>
    </template>
    <!-- TypeAhead search, top right buttons and schematic header -->
    <template [ngIf]="!addSchematicVisibility">
        <div class="card-block">
            <!-- typeahead and top right buttons -->
            <!-- typeahead section -->
            <div class="row">
                <div class="col-md-12 col-lg-9 col-xl-6">
                    <div class="form-group">
                        <mat-input>
                            <label class="form-label"><strong>Schematic ID or Description</strong></label>
                            <typeahead-input [search]="autocompleteInput.searchSchematics"
                                             (onSelected)="onSchematicSelected($event)"
                                             (itemDescriptionChanged)="this.itemDescription = $event"
                                             [placeholderText]="''"></typeahead-input>
                        </mat-input>
                    </div>
                </div>
            </div>
            <!-- top  right top buttons -->
            <div class="form-group row">
                <div class="col-md-12">
                    <button id="addSchematicBtn" (click)="addSchematicClicked()" class="btn btn-td">
                        <span class="fa fa-plus"></span>
                        Create New Schematic
                    </button>
                    <button id="btnPageRefresh" *ngIf="selectedSchematic.schematicId" (click)="refreshPage()"
                            class="btn btn-td">
                        <span class="fa fa-refresh"></span>
                    </button>
                </div>
            </div>
            <!-- schematic header zone -->
            <div class="card" *ngIf="selectedSchematic.schematicId">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12 pl-0">
                            <div class="row">
                                <div class="col-md-3 col-lg-2">
                                    <h4 class="card-title mb-0"> Schematic: {{selectedSchematic.schematicId}} </h4>
                                </div>
                                <div class="col-md-4 col-lg-3">
                                    <input id="schematicDesc" class="form-control-sm full-width" type="text"
                                           [(ngModel)]="selectedSchematic.description">
                                </div>
                                <div class="col-md-4 col-lg-3">
                                    <button (click)="changeSchematicDescription(selectedSchematic)"
                                            class="btn btn-sm btn-td" data-toggle="tooltip"
                                            title="Save schematic description.">
                                        <span class="fa fa-floppy-o"></span>
                                    </button>
                                    <template [ngIf]="selectedSchematic.isActive">
                                        <button id="btnDeactivate" (click)="deactivateSchematic(selectedSchematic)"
                                                class="btn btn-sm btn-td" title="Deactivate schematic.">
                                            <span class="fa fa-ban"></span>
                                        </button>
                                        <button id="btnSchematicClone" (click)="cloneSchematic(selectedSchematic)"
                                                class="btn btn-sm btn-td" title="Clone Schematic.">
                                            <span class="fa fa-clone"></span>
                                        </button>
                                    </template>
                                    <template [ngIf]="selectedSchematic.schematicId && !selectedSchematic.isActive">
                                        <button id="btnActivate" (click)="activateSchematic(selectedSchematic)"
                                                class="btn btn-sm btn-td" title="Activate schematic.">
                                            <span class="fa fa-check"></span>
                                        </button>
                                    </template>
                                    <button *ngIf="isAnyExpanded()" (click)="collapseAll()" class="btn btn-sm btn-td"
                                            title="Collapse all steps.">
                                        <span class="fa fa-angle-double-up"></span>
                                        <!--<span class="fa fa-minus"></span>-->
                                        <!--<span>Collapse All</span>-->
                                    </button>
                                    <button *ngIf="isAnyExpanded() == false" (click)="expandAll()"
                                            class="btn btn-sm btn-td"
                                            title="Expand all steps.">
                                        <span class="fa fa-angle-double-down"></span>
                                        <!--<span class="fa fa-plus"></span>-->
                                        <!--<span>Expand All</span>-->
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- should appear underneath the schematic ID -->
                        <template [ngIf]="!selectedSchematic.isActive && selectedSchematic.schematicId">
                            <div class="col-md-2">
                                <span class="text-danger">(deactivated)</span>
                            </div>
                        </template>
                    </div>
                </div>
                <div class="card-block">
                    <!-- editing existing schematic: steps and adding new stp area -->
                    <template [ngIf]="!addSchematicVisibility">
                        <!-- editing steps area -->
                        <accordion *ngFor="let step of allStepsVM" [title]="'StepNo: ' + step.StepNumber"
                                   [(collapsed)]="step.isCollapsed">
                            <!-- step header -->
                            <accordionHeaderContent>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <input class="form-control-sm full-width" type="text"
                                                       [(ngModel)]="step.StepDescription">
                                            </div>
                                            <div class="col-md-1">
                                                <button (click)="stepDefinitionUpdate(step)"
                                                        class="btn btn-sm btn-td" data-toggle="tooltip"
                                                        title="Save step description.">
                                                    <span class="fa fa-floppy-o"></span>
                                                </button>
                                            </div>
                                            <div class="col-md-3">
                                                <span><strong>{{step.UnitName}}</strong></span>
                                            </div>
                                            <div class="col-md-4">
                                                <button (click)="higherStep(step)" class="btn btn-sm btn-td"
                                                        *ngIf="step.StepNumber !== 1 && lastStepNumber > 1"
                                                        data-toggle="tooltip" title="Raise this step.">
                                                    <span class="fa fa-arrow-up"></span>
                                                </button>
                                                <button (click)="lowerStep(step)" class="btn btn-sm btn-td"
                                                        *ngIf="step.StepNumber !== lastStepNumber && lastStepNumber > 1"
                                                        data-toggle="tooltip" title="Lower this step.">
                                                    <span class="fa fa-arrow-down"></span>
                                                </button>
                                                <button id="btnDeleteStep" (click)="deleteStep(step)"
                                                        class="btn btn-sm btn-td" data-toggle="tooltip"
                                                        title="Delete this step.">
                                                    <span class="fa fa-trash"></span>
                                                </button>
                                                <button id="btnStepShowCloneZone" (click)="showCloneStep(step)"
                                                        class="btn btn-sm btn-td" data-toggle="tooltip"
                                                        title="Clone this step.">
                                                    <span class="fa fa-clone"></span>
                                                </button>
                                                <button (click)="addStepConfiguration(step)" class="btn btn-sm btn-td"
                                                        data-toggle="tooltip"
                                                        title="Add a new configuration to this step.">
                                                    <span class="fa fa-cog"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <span *ngIf="!step.isComplete" class="text-danger">(incompleted)</span>
                                    </div>
                                </div>
                            </accordionHeaderContent>
                            <accordionBodyContent>
                                <!-- section for cloning step -->
                                <div class="card card-block" *ngIf="step.state === 'doClone'">
                                    <div class="form-group">
                                        <label>Enter schematic ID you want to clone for/to:</label>
                                        <input type="number" class="form-control-sm" #cloneToSchematicID>
                                    </div>
                                    <div class="form-group">
                                        <button id="btnDoStepClone"
                                                (click)="doStepClone(step, cloneToSchematicID.value)"
                                                class="btn btn-td" data-toggle="tooltip" title="Clone this step.">
                                            <span class="fa fa-clone"></span> Clone Step
                                        </button>
                                    </div>
                                </div>
                                <div class="card-block p-0">
                                    <ul class="pl-0">
                                        <template ngFor let-asset [ngForOf]="step.StepAssets">
                                            <template [ngIf]="asset.ConfigValueId">
                                                <li class="list-group-item">
                                                    <button (click)="inlineDeleteClicked(asset)"
                                                            class="btn btn-sm btn-td">
                                                        <span class="fa fa-trash"></span>
                                                    </button>
                                                    <button *ngIf="!asset.editByComponent"
                                                            (click)="inlineEditClicked(asset.Sequence)"
                                                            class="btn btn-sm btn-td">
                                                        <span class="fa fa-pencil"></span>
                                                    </button>
                                                    <button *ngIf="asset.editByComponent"
                                                            (click)="asset.isVisible=!asset.isVisible"
                                                            class="btn btn-sm btn-td">
                                                        <span class="fa fa-pencil"></span>
                                                    </button>
                                                    <template [ngIf]="!asset.editByComponent">
                                                        &nbsp;<strong>{{asset.ConfigValueTypeLookupKey}}</strong> ===
                                                        {{asset.ConfigurationValue | slice:0:100}}
                                                    </template>
                                                    <template [ngIf]="asset.editByComponent">
                                                        <template [ngIf]="!asset.isVisible">
                                                            <strong>{{asset.ConfigValueTypeLookupKey}}</strong>
                                                            {{asset.ConfigurationValue | slice:0:100}}
                                                        </template>
                                                        <div class="card-block"
                                                             *ngIf="asset.componentType == 'JsonLike' && asset.isVisible">
                                                            <json-edit [inputJson]='asset.ConfigurationValue'
                                                                       [PredefinedJsonValues]="asset.Template"
                                                                       [isRoot]='true'
                                                                       [parentStep]='step'
                                                                       (cancelChanges)="jsonCanceled($event,asset)"
                                                                       (out)="getJson($event, asset, step)"></json-edit>
                                                        </div>
                                                        <div class="card-block"
                                                             *ngIf="asset.componentType == 'ARRAYLIKE' && asset.isVisible">
                                                            <table-edit-config [inputArray]='asset.ConfigurationValue'
                                                                               [PredefinedJsonValues]="asset.Template"
                                                                               [parentStep]='step'
                                                                               (cancelChanges)="jsonCanceled($event,asset)"
                                                                               (out)="getJson($event, asset, step)"></table-edit-config>
                                                        </div>
                                                    </template>
                                                </li>
                                            </template>
                                            <div *ngIf="visiblityMatrix[asset.Sequence].isVisible && !asset.editByComponent"
                                                 id="editableArea" class="card-block">
                                                <div class="form-group">
                                                    <textarea class="textArea"
                                                              [(ngModel)]="asset.ConfigurationValue"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <button (click)="inlineEditSave(asset)" class="btn btn-td ">
                                                        <span class="fa fa-floppy-o"></span>
                                                        Save
                                                    </button>
                                                    <button (click)="inlineEditClicked(asset.Sequence)"
                                                            class="btn btn-td">
                                                        <span class="fa fa-ban"></span>
                                                        Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </template>
                                    </ul>
                                </div>
                                <div class="card"
                                     *ngIf="step.StepAddingConfiguration && step.allConfigValueTypesVM.length > 0">
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">Step {{step.StepNumber}} Configuration</h5>
                                    </div>
                                    <div class="card-block">
                                        <div class="form-group">
                                            <select #configValueTypeEntry
                                                    (change)="configValueTypeSelected($event.target.value, step)">
                                                <option *ngFor="let configValueType of step.allConfigValueTypesVM"
                                                        (value)="configValueType"
                                                        [ngClass]="{'text-danger': configValueType.isMandatory}">
                                                    {{configValueType.description}}
                                                </option>
                                            </select>
                                            <input type="text" *ngIf="!step.isAddingJSON"
                                                   [(ngModel)]="step.selectedConfigValue">
                                        </div>
                                        <div *ngIf="step.isAddingJSON" class="row">
                                            <div class="col-md-12">
                                                <div class="card-block" *ngIf="!step.isArrayLike">
                                                    <json-edit #jsonEdit [inputJson]='step.selectedConfigValue'
                                                               [parentStep]='step'
                                                               [PredefinedJsonValues]="step.selectedConfigType.template"
                                                               [isRoot]='true'
                                                               (cancelChanges)="cancelConfigClicked(step)"
                                                               (out)="addNewJson($event,step)"></json-edit>
                                                </div>
                                                <div class="card-block" *ngIf="step.isArrayLike">
                                                    <table-edit-config [inputArray]='step.selectedConfigValue'
                                                                       [PredefinedJsonValues]="step.selectedConfigType.template"
                                                                       [parentStep]='step'
                                                                       (cancelChanges)="cancelConfigClicked(step)"
                                                                       (out)="addNewJson($event,step)"></table-edit-config>
                                                </div>
                                            </div>
                                        </div>
                                        <button (click)="saveConfigClicked(step, configValueTypeEntry.value)"
                                                class="btn btn-td">
                                            <span class="fa fa-floppy-o"></span>
                                            Save
                                        </button>
                                        <button (click)="cancelConfigClicked(step)"
                                                class="btn btn-td">
                                            <span class="fa fa-ban"></span>
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </accordionBodyContent>
                        </accordion>
                        <!-- buttons for adding new steps and file script generate -->
                        <template [ngIf]="selectedSchematic.isActive">
                            <div class="form-group">
                                <button (click)="generateSqlScript(selectedSchematic)" class="btn btn-td">
                                    <span class="fa fa-file-text-o"></span>
                                    Generate SQL Script
                                </button>
                                <button id="btnAddNewStep" (click)="addStepClicked()" class="btn btn-td">
                                    <span class="fa fa-plus"></span>
                                    Add New Step
                                </button>
                            </div>
                        </template>
                        <template [ngIf]="addStepVisibility">
                            <!-- adding new step for schematic -->
                            <div class="card card-block">
                                <div class="form-group row">
                                    <div class="col-md-3 col-form-label">
                                        <label><strong>Choose a unit:</strong></label>
                                    </div>
                                    <div class="col-md-9">
                                        <select (change)="unitSelected($event.target.value)" [disabled]="unitFrozen"
                                                class="form-control">
                                            <option *ngFor="let unit of allUnitsVM" (value)="unit">
                                                {{unit.description}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 col-form-label">
                                        <label><strong>Step description:</strong></label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" [(ngModel)]="newStepDescription" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <button (click)="saveNewStep()" class="btn btn-td">
                                            <span class="fa fa-floppy-o"></span>
                                            Save Step
                                        </button>
                                        <button (click)="cancelAddStepClicked()"
                                                class="btn btn-td">
                                            <span class="fa fa-ban"></span>
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <!-- generate sql script for file -->
                        <template [ngIf]="schematicState == 'genSQLScript'">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">
                                        Schematic Script
                                        <span id="close-schematic-icon"
                                              class="align-middle fa fa-times-circle fa-lg text-danger float-xs-right"
                                              (click)="closeSQLScriptArea()" data-toggle="tooltip" data-placement="top"
                                              title="Close script section."></span>
                                    </h4>
                                </div>
                                <div class="card-block">
                                    <textarea class="full-width" [(ngModel)]="sqlScript" style="height: 300px"
                                              onClick="this.setSelectionRange(0, this.value.length)"></textarea>
                                </div>
                            </div>
                        </template>
                    </template>
                </div>
            </div>
        </div>
    </template>
</template>