// -------------------------
// Month View
// ------------------------

.cal-month-view {

  .cal-cell {
    align-items: stretch;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    float: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
  }

  .cal-cell-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
  }

  .cal-cell-top {
    min-height: 62px;
  }

  .cal-day-cell {
    min-height: 100px;

    &.cal-in-month.cal-has-events {
      cursor: pointer;
    }

    &.cal-out-month .cal-day-number {
      cursor: default;
    }

    &.cal-today {

      .cal-day-number {
        font-size: 1.9em;
      }
    }

    &:not(:last-child) {
      border-right: 1px solid;
    }
  }

  .cal-day-number {
    float: right;
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-right: 15px;
    opacity: 0.5;
  }

  .cal-days {
    border: 1px solid;
    border-bottom: 0;

    .cal-cell-row {
      border-bottom: 1px solid;
    }
  }

  .cal-event {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin: 2px;
    width: 10px;
  }

  .cal-events {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    line-height: 10px;
    margin: 3px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .cal-header {
    font-weight: bolder;
    text-align: center;

    .cal-cell {
      display: block;
      overflow: hidden;
      padding: 5px 0;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .cal-open-day-events {
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.5);
    padding: 15px;

    .cal-event {
      position: relative;
      top: 2px;
    }
  }

  .cal-out-month .cal-day-badge,
  .cal-out-month .cal-event {
    opacity: 0.3;
  }
}

// -------------------------
// Week View
// -------------------------

.cal-week-view {

  .cal-day-headers {
    border: 1px solid;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    margin-bottom: 3px;
    margin-left: 2px;
    margin-right: 2px;

    .cal-header {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding: 5px;
      text-align: center;

      &:not(:last-child) {
        border-right: 1px solid;
      }
    }

    span {
      font-weight: 400;
      opacity: 0.5;
    }
  }

  .cal-event {
    // font-size
    @include em(12px);
    height: 30px;
    line-height: 30px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0 10px;

    &.cal-ends-within-week {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }

    &.cal-starts-within-week {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
    }
  }

  .cal-event-container {
    display: inline-block;
  }

  .cal-event,
  .cal-header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

// -------------------------
// Day View
// -------------------------

.cal-day-view {

  .cal-all-day-event {
    border: solid 1px;
    padding: 8px;
  }

  .cal-event {
    border: solid 1px;
    // font-size
    @include em(12px);
    overflow: hidden;
    padding: 5px;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.cal-ends-within-day {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &.cal-starts-within-day {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  .cal-hour {

    &:not(:last-child) .cal-hour-segment,
    &:last-child :not(:last-child) .cal-hour-segment {
      border-bottom: thin dashed;
    }
  }

  .cal-hour-rows {
    border: solid 1px;
    overflow-x: scroll;
    position: relative;
    width: 100%;
  }

  .cal-hour-segment {
    height: 30px;
  }

  .cal-time {
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
    width: 70px;
  }
}

// -------------------------
// Badges
// ------------------------

.cal-day-badge {
  border-radius: 10px;
  display: inline-block;
  // font-size
  @include em(12px);
  font-weight: 700;
  line-height: 1;
  margin-top: 18px;
  margin-left: 10px;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.cal-day-badge-fatal {
  border-radius: 10px;
  display: inline-block;
  // font-size
  @include em(12px);
  font-weight: 700;
  line-height: 1;
  margin-top: 18px;
  margin-left: 10px;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: bottom;
  white-space: nowrap;
}

.cal-day-badge-future {
  border-radius: 10px;
  display: inline-block;
  // font-size
  @include em(12px);
  font-weight: 700;
  line-height: 1;
  margin-top: 18px;
  margin-left: 10px;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: bottom;
  white-space: nowrap;
}

.cal-day-badge-ok {
  border-radius: 10px;
  display: inline-block;
  // font-size
  @include em(12px);
  font-weight: 700;
  line-height: 1;
  margin-top: 18px;
  margin-left: 10px;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: bottom;
  white-space: nowrap;
}