@import "../../Datahub/assets/variables";

.assignable-list-wrapper {
  border: $base-border;
  padding: 5px;
}

.assignable-list-items {
  height: 100%;
  width: 100%;
}

.list {
  //min-width: 100%;
  height: 20%;
}