<!--<div class="assignable-list-wrapper">-->
<div class="card card-block">
    <div class="row">
        <div class="col-xs-6 text-xs-center">
            <span class="form-label"><strong>{{inputTitle | LocalizationTranslate}}</strong></span>
        </div>
        <div class="col-xs-6 text-xs-center">
            <span class="form-label"><strong>{{assignedTitle | LocalizationTranslate}}</strong></span>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-5">
            <select #allItems name="allItems" multiple class="assignable-list-items">
                <option #opt *ngFor="let item of formattedInputList"
                        (dblclick)="changeItemList(item, formattedInputList, formattedAssignedList)"
                        value="{{item.Value}}">
                    {{item.Description}}
                </option>
            </select>
        </div>
        <div class="col-xs-2 text-xs-center">
            <button class="btn btn-sm btn-td btn-vertical-space"
                    (click)="switchSelection(allItems, formattedInputList, formattedAssignedList)"
                    [disabled]="formattedInputList?.length===0">
                <span class="fa fa-angle-right"></span>
            </button>
            <br/>
            <button class="btn btn-sm btn-td btn-vertical-space"
                    (click)="switchSelection(assignedItems, formattedAssignedList, formattedInputList)"
                    [disabled]="formattedAssignedList?.length===0"><span class="fa fa-angle-left"></span>
            </button>
            <br/>
            <button class="btn btn-sm btn-td btn-vertical-space" (click)="moveAllToAssigned()" [disabled]="formattedInputList?.length===0"><span
                    class="fa fa-angle-double-right"></span></button>
            <br/>
            <button class="btn btn-sm btn-td" (click)="moveAllToInput()" [disabled]="formattedAssignedList?.length===0"><span
                    class="fa fa-angle-double-left"></span></button>
            <br/>
        </div>
        <div class="col-xs-5">
            <select #assignedItems name="assignedItems" multiple class="assignable-list-items">
                <option *ngFor="let item of formattedAssignedList"
                        (dblclick)="changeItemList(item, formattedAssignedList, formattedInputList)"
                        value="{{item.Value}}">
                    {{item.Description}}
                </option>
            </select>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            <template ngFor let-childButton [ngForOf]="customButtonsList">
                <button *ngIf="childButton.visible != undefined ? childButton.visible : true" type="button"
                        title="{{childButton.name | LocalizationTranslate}}"
                        [disabled]="childButton.disabled != undefined ? childButton.disabled : false"
                        class="btn btn-td btn-spaced" (click)="assignListOut(childButton)">
                    {{childButton.name | LocalizationTranslate}}
                </button>
            </template>
        </div>
    </div>
    <!--<button (click)="assignListOut()">Apply list</button>-->
</div>