// Global values
// --------------------------------------------------

/********************************************************
 * Named colors
 *******************************************************/

// -------------------------
// Primary colors
// -------------------------

$black: #000000 !default;
$dark-green: #1a5336 !default;
$gray: #cccccc !default;
$green: #00A221 !default;
$bright-green: #12ff00 !default;
$pale-green: #f3f7ef !default;
$dark-gray: #707070 !default;
$light-gray: #dadada !default;
$red: #ad0101 !default;
$white: #ffffff !default;
$yellow: #ffef99 !default;

// -------------------------
// Misc. colors
// -------------------------

$burnt-orange: #b54c00 !default;
$orange: #c0570d !default;
$pale-yellow: #fff9d9 !default;

// -------------------------
// Typography
// -------------------------

$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

// -------------------------
// Components
// -------------------------

$border-radius-base: 5px !default;
$border-radius-minor: 2px;
// matches bootstrap elements
$base-border: 1px solid rgba(0, 0, 0, 0.125);

// -------------------------
// Files
// -------------------------

$font-awesome-directory: "../../../app/Datahub/assets/fontAwesome";