@import "variables";
@import "mixins";

/****************************************
*   Dark theme - Colors
*****************************************/

$dt-primary: #1a5336;
$dt-primary-dark: #0e3e26;
$dt-primary-medium: #9dc2b1;
$dt-primary-light: #f9f9fb;

$dt-secondary: #00A221;
$dt-secondary-dark: #008000;

$dt-tertiary: #555555;
$dt-tertiary-medium: #bdbdbd;

// -------------------------
// Global
// -------------------------
$dt-body-bg: $black !default;
$dt-text-color: $white !default;
$dt-link-color: $white;

// -------------------------
// Accordions
// -------------------------
$dt-accordion-link-active-color: $dt-text-color;
$dt-accordion-link-hover-color: $dt-secondary;

// -------------------------
// Bootstrap (overrides)
// -------------------------

$dt-bootstrap-card-bg-color: inherit;
$dt-bootstrap-card-border-color: $dt-tertiary;
$dt-bootstrap-card-header-bg-color: $dt-tertiary;

$dt-bootstrap-tab-active-bg-color: $dt-primary;
$dt-bootstrap-tab-active-border-color: $black;
$dt-bootstrap-tab-active-text-color: $white;

// -------------------------
// Breadcrumb
// -------------------------

$dt-breadcrumb-bg-color: $dt-body-bg;
$dt-breadcrumb-item-bg-color: $dt-body-bg;
$dt-breadcrumb-text-color: white;

// -------------------------
// Buttons
// -------------------------

$dt-btn-dg-bg-color: #2D6716;
$dt-btn-dg-bg-hover-color: $dt-primary-dark;
$dt-btn-dg-border-color: $dt-btn-dg-bg-color;
$dt-btn-dg-text-color: white;

// -------------------------
// Calendar
// -------------------------

$dt-cal-color-standard: #b94a48;
$dt-cal-color-fatal: #8d2709;
$dt-cal-color-future: #191597;
$dt-cal-color-ok: #187826;
$dt-cal-badge-text-color: $white;

$dt-cal-month-row-hover-bg-color: $dt-tertiary;
$dt-cal-month-cell-hover-bg-color: darken($dt-cal-month-row-hover-bg-color, 10%);
$dt-cal-month-today-bg-color: #e8fde7;
$dt-cal-month-weekend-day-number-color: $bright-green;
$dt-cal-month-cell-border-color: #e1e1e1;
$dt-cal-month-event-title-color: $white;
$dt-cal-month-open-events-bg-color: $dt-tertiary;
$dt-cal-month-open-events-color: $white;
$dt-cal-month-bordered-row-border-color: $dt-cal-month-cell-border-color;

$dt-cal-long-event-border-color: black;
$dt-cal-long-event-bg-gradient-color-zero: white;
$dt-cal-long-event-bg-gradient-color-hundred: #e1e1e1;
$dt-cal-long-event-text-color: $dt-text-color;
$dt-cal-long-event-expand-arrow-hover-color: $dt-secondary;

$dt-cal-week-dayheaders-border-color: #e1e1e1;
$dt-cal-week-dayheaders-hover-bg-color: #ededed;
$dt-cal-week-dayheaders-today-bg-color: #e8fde7;
$dt-cal-week-dayheaders-weekend-color: $dt-cal-month-weekend-day-number-color;

$dt-cal-day-hour-bg-odd-color: #fafafa;
$dt-cal-day-hour-row-dashed-border-color: #e1e1e1;
$dt-cal-day-hour-row-bg-color: #e1e1e1;
$dt-cal-day-hour-segment-hover-bg-color: #ededed;

// -------------------------
// Callout colors
// -------------------------

$dt-primary-border: $dt-tertiary;
/*$dt-primary-border-hover: #3f7e61;*/
$dt-primary-border-hover: darken(saturate(adjust-hue($dt-primary-border, 0), 10), 32);
/*$dt-primary-bg-gradient-color: #dbe9e2;*/
$dt-primary-bg-gradient-color: lighten(saturate(adjust-hue($dt-primary-border, -2.5), 1), 20);

// -------------------------
// CheckBoxList
// -------------------------

$dt-checkboxlist-hover-bg-color: $dt-primary-light;
$dt-checkboxlist-border-color: $dt-tertiary-medium;

// -------------------------
// DataGrid
// -------------------------

$dt-datagrid-body-border-color: $dt-tertiary-medium;
$dt-datagrid-cell-border-color: $dt-tertiary-medium;
$dt-datagrid-dynamicheader-bg-color: black;
$dt-datagrid-filters-bg-color: $dt-tertiary;
$dt-datagrid-filters-border-color: $dt-tertiary-medium;
$dt-datagrid-header-bg-color: $dt-tertiary;
$dt-datagrid-header-border-color: $dt-tertiary-medium;
$dt-datagrid-row-alt-bg-color: $dt-tertiary;
$dt-datagrid-row-bg-color: $black;
$dt-datagrid-row-bg-hover-color: $dt-tertiary;
$dt-datagrid-row-border-color: $dt-tertiary-medium;

/* DataGrid Spreadsheet */
$dt-datagrid-expandcontent-bg-color: $dt-primary-medium;
$dt-datagrid-toggleitem-color: $dt-tertiary-medium;

// -------------------------
// Form Elements
// -------------------------

$dt-input-bg: $white !default;
$dt-input-bg-disabled: $dt-tertiary !default;
$dt-input-color: $white !default;
$dt-input-border-color: $dt-tertiary-medium !default;
$dt-input-border-focus: $dt-secondary-dark !default;
$dt-input-text-border-color: $black;

$dt-form-label-color: #979797;

// -------------------------
// Item List
// -------------------------

$dt-item-list-hover-bg-color: #65ec20;

// -------------------------
// Links
// -------------------------

$dt-link-color: $dark-green !default;

// -------------------------
// ng directives
// -------------------------

$dt-ng-valid-border-color: $green;
$dt-ng-invalid-border-color: $red;

// -------------------------
// Navbar (top)
// -------------------------

$dt-navbar-alerts-bg-color: $dt-primary-light;
$dt-navbar-alerts-border-color: $black;
$dt-navbar-bg-color: $dt-primary-dark;
$dt-navbar-dropdown-hover-text-color: $black;
$dt-navbar-link-active-bg-color: $dt-secondary;
$dt-navbar-link-color: $white;
$dt-navbar-link-hover-color: $white;
$dt-navbar-link-hover-bg-color: $dt-tertiary;

// -------------------------
// SubNav
// -------------------------

$dt-subnav-bg-color: #2D6716;

// -------------------------
// Pagination
// -------------------------

$dt-pagination-active-bg-color: $dark-green !default;
$dt-pagination-active-border-color: $white !default;
$dt-pagination-active-color: $white !default;
$dt-pagination-bg-color: $dark-gray !default;
$dt-pagination-border-color: $gray !default;
$dt-pagination-disabled-bg-color: $dt-tertiary !default;
$dt-pagination-disabled-border-color: $light-gray !default;
$dt-pagination-disabled-color: $gray !default;
$dt-pagination-hover-bg-color: $dt-tertiary-medium !default;
$dt-pagination-hover-border-color: $light-gray !default;
$dt-pagination-text-color: $dt-text-color;

// -------------------------
// Spinner
// -------------------------

// opacity must be defined through rgba so that the child spinner-wrapper can have a greater opacity than its parent
$dt-spinner-background: rgba(85, 85, 85, 1);
$dt-spinner-global-background: rgba(128, 128, 128, 0.75);
$dt-spinner-color: $dt-tertiary-medium;
$dt-spinner-wedge-color: $dt-secondary;

// -------------------------
// Tileview
// -------------------------

$dt-tileview-bg-color: $dt-primary;
$dt-tileview-hover-bg-color: $dt-tertiary;
$dt-tileview-text-color: $white;

// -------------------------
// Typeahead
// ------------------------

$dt-typeahead-bg-color: $dt-tertiary;
$dt-typeahead-border-color: $dt-secondary-dark;
$dt-typeahead-hover-bg-color: $dt-tertiary-medium;

/****************************************
*   Dark theme - Styling rules (general)
*****************************************/

#app-container.theme-dark {

  // -------------------------
  // Scaffolding
  // -------------------------

  background: $dt-body-bg;
  color: $dt-text-color;

  a {
    color: $dt-link-color;
  }

  // -------------------------
  // Accordions
  // -------------------------

  .accordion {
    .card-header {
      a:active,
      a:focus {
        color: $dt-accordion-link-active-color;
      }
      a:hover {
        color: $dt-accordion-link-hover-color;
      }
    }
  }

  // -------------------------
  // Buttons
  // -------------------------

  .btn-td {
    background-color: $dt-btn-dg-bg-color;
    border-color: $dt-btn-dg-bg-color;
    color: $dt-btn-dg-text-color;

    &:hover {
      background-color: #0e3e26;
    }
  }

  // -------------------------
  // Calendar
  // -------------------------

  .cal-color-standard {
    background-color: $dt-cal-color-standard;
    color: $dt-cal-badge-text-color;
  }

  .cal-color-fatal {
    background-color: $dt-cal-color-fatal;
    color: $dt-cal-badge-text-color;
  }

  .cal-color-future {
    background-color: $dt-cal-color-future;
    color: $dt-cal-badge-text-color;
  }

  .cal-color-ok {
    background-color: $dt-cal-color-ok;
    color: $dt-cal-badge-text-color;
  }

  /* Month View */
  .cal-month-view {

    .cal-cell-row {

      &:hover {
        background-color: $dt-cal-month-row-hover-bg-color;
      }
    }

    .cal-cell-row .cal-cell:hover,
    .cal-cell.cal-has-events.cal-open {
      background-color: $dt-cal-month-cell-hover-bg-color;
    }

    .cal-day-cell {

      &.cal-today {
        background-color: $dt-cal-month-today-bg-color;
      }

      &.cal-weekend .cal-day-number {
        color: $dt-cal-month-weekend-day-number-color;
      }

      &:not(:last-child) {
        border-right-color: $dt-cal-month-cell-border-color;
      }
    }

    .cal-days {
      border-color: $dt-cal-month-cell-border-color;

      .cal-cell-row {
        border-color: $dt-cal-month-cell-border-color;
      }
    }

    .cal-event-title {
      color: $dt-cal-month-event-title-color;
    }

    .cal-day-open-events {
      background-color: $dt-cal-month-open-events-bg-color;
      color: $dt-cal-month-open-events-color;
    }
  }

  .long-event {
    background: linear-gradient(to bottom, $dt-cal-long-event-bg-gradient-color-zero 0%, $dt-cal-long-event-bg-gradient-color-hundred 100%);
    border-color: $dt-cal-long-event-border-color;
    color: $dt-cal-long-event-text-color;
  }

  .additional-events-arrow:hover {
    color: $dt-cal-long-event-expand-arrow-hover-color;
  }

  .cal-bordered-row {
    border-color: $dt-cal-month-bordered-row-border-color;
  }

  .cal-cell-wrapper:not(:last-child) {
    border-color: $dt-cal-month-cell-border-color;
  }

  /* Week view */
  .cal-week-view {

    .cal-day-headers {
      border-color: $dt-cal-week-dayheaders-border-color;
    }

    .cal-header {

      &:hover {
        background-color: $dt-cal-week-dayheaders-hover-bg-color;
      }

      &:not(:last-child) {
        border-color: $dt-cal-week-dayheaders-border-color;
      }

      &.cal-today {
        background-color: $dt-cal-week-dayheaders-today-bg-color;
      }

      &.cal-weekend span {
        color: $dt-cal-week-dayheaders-weekend-color;
      }

    }
  }

  /* Day view */
  .cal-day-view {

    .cal-hour {

      &:nth-child(odd) {
        background-color: $dt-cal-day-hour-bg-odd-color;
      }

      &:not(:last-child) .cal-hour-segment,
      &:last-child :not(:last-child) .cal-hour-segment {
        border-bottom-color: $dt-cal-day-hour-row-dashed-border-color;
      }
    }

    .cal-hour-rows {
      border-color: $dt-cal-day-hour-row-bg-color;
    }

    .cal-hour-segment {
      &:hover {
        background-color: $dt-cal-day-hour-segment-hover-bg-color;
      }
    }
  }

  // -------------------------
  // CheckBoxList
  // -------------------------
  .check-box-list {
    #check-box-list-checkboxes {
      border-color: $dt-checkboxlist-border-color;

      label:hover {
        background-color: $dt-checkboxlist-hover-bg-color;
      }
    }
  }

  // -------------------------
  // Form Elements
  // -------------------------

  input,
  select {
    background-color: $dt-body-bg;
    color: $dt-text-color;
  }

  input[type="text"] {

    &:hover,
    &:active,
    &:focus {
      border-color: $dt-input-text-border-color;
      border-bottom-color: $dt-input-border-focus;
    }

    &[disabled],
    .form-control[readonly] {
      background-color: $dt-input-bg-disabled !important;
      color: $dt-input-color;
    }
  }

  textarea, .form-control {
    background-color: $dt-body-bg !important;
    border-color: $dt-input-border-color;
    border-bottom-color: $dark-gray;
    color: $dt-text-color !important;

    &:hover,
    &:focus {
      border-color: $black;
      border-bottom-color: $dt-input-border-focus;
    }

    fieldset[disabled] & {
      background-color: $dt-input-bg-disabled;
      border-bottom-color: $dt-input-border-focus;
    }
  }

  .form-label {
    color: $dt-form-label-color;
  }

  // -------------------------
  // Tileview
  // -------------------------

  #tileview-options {

    .card {
      background-color: $dt-tileview-bg-color !important;
      color: $dt-tileview-text-color;

      &:hover {
        background-color: $dt-tileview-hover-bg-color !important;
      }
    }
  }

  /****************************************
  *   Standard theme - Styling rules (components)
  *****************************************/

  // -------------------------
  // Breadcrumb
  // -------------------------

  .breadcrumb {
    background-color: $dt-breadcrumb-bg-color;

    .breadcrumb-item {

      a {
        color: $dt-breadcrumb-text-color !important;
      }
    }
  }

  // -------------------------
  // Displaygrid
  // -------------------------

  .ng-valid[required] {
    border-left-color: $dt-ng-valid-border-color;
  }

  .ng-invalid {
    border-left-color: $dt-ng-invalid-border-color;
  }

  #dataGridBody {
    border-color: $dt-datagrid-body-border-color;
  }

  #dataGridDynamicHeader {

    [class^="col-"] {
      background-color: $dt-datagrid-dynamicheader-bg-color;
    }
  }

  #dataGridHeader {

    tr {
      background: none;
      background-color: $dt-datagrid-header-bg-color;
    }

    th {
      border-bottom-color: $dt-datagrid-header-border-color;
      border-right-color: $dt-datagrid-header-border-color;
    }
  }

  #dataGridLookups {
    background: transparent;
  }

  #dataGrid-spreadSheet {

    > .displayGrid-row:nth-child(odd) {
      background-color: $dt-datagrid-row-alt-bg-color;
    }
  }

  /* Expand and collapse icons */
  .toggleItem {
    color: $dt-datagrid-toggleitem-color;
  }

  #dataGrid-buttons {
    border-right-color: $dt-datagrid-cell-border-color;

  }

  // -------------------------
  // Item List
  // -------------------------

  .item-list-entry:hover {
    background-color: $dt-item-list-hover-bg-color;
  }

  // -------------------------
  // Navbar
  // -------------------------

  #main-nav {
    background-color: $dt-navbar-bg-color;
  }

  .nav {

    a {
      &:hover,
      &:focus {
        color: $dt-navbar-link-hover-color;
      }
    }

    .nav-item {

      &:hover {
        background-color: $dt-navbar-link-hover-bg-color;
      }
    }
  }

  .nav-link {
    color: $dt-navbar-link-color !important;

    &.list-group-item-info {
      background-color: $dt-navbar-link-active-bg-color !important;
    }
  }

  #navbar-alerts {
    background-color: $dt-navbar-alerts-bg-color;
    border-color: $dt-navbar-alerts-border-color;
  }

  .right-menu-item:hover {
    background-color: inherit !important;
  }

  .navbar-toggler {
    color: $dt-navbar-link-color;
  }

  .dropdown-menu {
    a:hover {
      color: $dt-navbar-dropdown-hover-text-color;
    }
  }

  // -------------------------
  // Notifications
  // -------------------------

  .standard-callout-background {
    background-color: $dt-tertiary;
  }

  // -------------------------
  // Pagination
  // -------------------------

  .pagination {

    .page-item {
      border-color: $dt-pagination-border-color !important;

      .page-link {
        background-color: $dt-pagination-bg-color !important;
        color: $dt-pagination-text-color !important;
      }

      &:hover,
      &:focus {
        background-color: $dt-pagination-hover-bg-color !important;
        border-color: $dt-pagination-hover-border-color !important;

        .page-link {
          color: $dt-pagination-text-color !important;
        }
      }

      &.active {
        &,
        &:hover,
        &:focus {

          .page-link {
            background-color: $dt-pagination-active-bg-color !important;
            border-color: $dt-pagination-active-border-color !important;
            color: $dt-pagination-active-color !important;
          }
        }
      }

      &.disabled {
        a,
        a:hover,
        a:focus {
          color: $dt-pagination-disabled-color;
          background-color: $dt-pagination-disabled-bg-color !important;
          border-color: $dt-pagination-disabled-border-color !important;
        }
      }
    }
  }

  // -------------------------
  // Spinner
  // -------------------------

  .global-spinner {
    background: $dt-spinner-global-background;

    .spinner-wrapper {
      background: $dt-spinner-background;
    }
  }

  .standard-spinner {
    border-color: $dt-spinner-color;
    border-top-color: $dt-spinner-wedge-color;
  }

  // -------------------------
  // Subnav
  // -------------------------

  #sub-nav {
    background-color: $dt-subnav-bg-color !important;
  }

  // -------------------------
  // Typeahead
  // -------------------------

  #typeahead-list {

    border-color: $dt-typeahead-border-color;

    .list-group-item {
      background-color: $dt-typeahead-bg-color;
      &:hover {
        background-color: $dt-typeahead-hover-bg-color;
      }
    }
  }

  // -------------------------
  // Bootstrap
  // -------------------------

  .card {
    background-color: $dt-bootstrap-card-bg-color;
    border-color: $dt-bootstrap-card-border-color;

    .card-header {
      background-color: $dt-bootstrap-card-header-bg-color;
    }
  }

  .dropdown-item {
    color: $dt-body-bg;
  }

  .nav-tabs {
    .nav-item {
      a.active,
      a:hover,
      .nav-link.active:hover {
        background-color: $dt-bootstrap-tab-active-bg-color;
        border-color: $dt-bootstrap-tab-active-border-color;
        color: $dt-bootstrap-tab-active-text-color;
      }
    }
  }
}