<div class="card-block">
    <div class="form-group row">
        <div class="col-md-12 col-lg-6">
            <mat-input>
                <label class="form-label">
                    <strong>Search for Pipeline</strong>
                </label>
                <typeahead-input [search]="autocompleteInput.searchPipelines" (onSelected)="onPipeLineSelected($event)"
                                 [placeholderText]="''"></typeahead-input>
            </mat-input>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <button (click)="newPipeline()" class="btn btn-td">
                <span class="fa fa-plus"></span> New Pipeline
            </button>
        </div>
    </div>
</div>
<template [ngIf]="hasPipeline">
    <div class="card-block">
        <div class="row">
            <div class="col-sm-12 col-lg-9">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <h3>PipelineId: {{currentPipeLine.pipelineId}}</h3>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="form-group">
                            <label for="plDescription"><strong>Description:</strong></label>
                            <input type="text" id="plDescription" class="form-control"
                                   [(ngModel)]="currentPipeLine.description" placeholder="Enter your description here">
                        </div>
                        <div class="form-group">
                            <label for="chkboxPLActive"><strong>Is Active</strong></label>
                            <input type="checkbox" id="chkboxPLActive" class="form-control"
                                   [(ngModel)]="currentPipeLine.isActive">
                        </div>
                        <table class="full-width table table-bordered table-hover table-striped">
                            <tr>
                                <!--
                                <th>Id</th>
                                <th>PipelineId</th>
                                -->
                                <th>Schematic Id</th>
                                <th>Schematic Description</th>
                                <th>Sequence Nbr</th>
                                <th>Stop on failure</th>
                                <th>Active</th>
                                <th></th>
                            </tr>
                            <tr *ngFor="let pipeLineSchematic of  currentPipeLine.pipeLineSchematics">
                                <!--  <td class="bordered">{{pipeLineSchematic.id}}</td>
                                  <td class="bordered">{{pipeLineSchematic.pipeLineId}}</td>
                                  -->
                                <td>{{pipeLineSchematic.schematicId}}</td>
                                <td><a (click)="navigateToSchematic(pipeLineSchematic.schematicId)">{{pipeLineSchematic.description}}</a>
                                </td>
                                <td><input class="form-control-sm full-width" type="text"
                                           [(ngModel)]="pipeLineSchematic.sequenceNumber" disabled></td>
                                <td><input type="checkbox" id="chkStopOnFailure"
                                           [(ngModel)]="pipeLineSchematic.stopPipelineOnFailure"></td>
                                <td><input type="checkbox" id="chkisActive" [(ngModel)]="pipeLineSchematic.isActive">
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-td"
                                            (click)="removePipeLineSchematic(pipeLineSchematic, currentPipeLine)">
                                        <span class="fa fa-trash fa-fw"></span>
                                    </button>
                                    <button class="btn btn-sm btn-td"
                                            *ngIf="currentPipeLine.pipeLineSchematics.indexOf(pipeLineSchematic) > 0"
                                            (click)="moveRow(pipeLineSchematic, currentPipeLine.pipeLineSchematics, 'up')"
                                            data-toggle="tooltip" title="Move row up.">
                                        <span class="fa fa-arrow-up fa-fw"></span>
                                    </button>
                                    <button class="btn btn-sm btn-td"
                                            *ngIf="currentPipeLine.pipeLineSchematics.indexOf(pipeLineSchematic) < currentPipeLine.pipeLineSchematics.length-1"
                                            (click)="moveRow(pipeLineSchematic, currentPipeLine.pipeLineSchematics, 'down')"
                                            data-toggle="tooltip"
                                            title="Move row down.">
                                        <span class="fa fa-arrow-down fa-fw"></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-block">
                        <div class="col-md-12 text-md-center">
                            <button (click)="doSave(currentPipeLine)" class="btn btn-td">
                                <span class="fa fa-floppy-o"></span> Save
                            </button>
                            <button (click)="cancel()" class="btn btn-td">
                                <span class="fa fa-ban"></span> Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <div class="card">
                    <div class="card-block">
                        <div class="form-group">
                            <label><strong>List of schematics:</strong></label>
                            <input type="text" class="form-control" [(ngModel)]="schematicFilter"
                                   placeholder="..enter the value to filter by." (change)="0">
                        </div>
                        <div class="form-group">
                            <div class="item-list">
                                <template ngFor let-schematic
                                          [ngForOf]="allSchematicsForUI | schematicsByIdOrDesc:schematicFilter">
                                    <div class="item-list-entry" (dblclick)="insertSchematicIntoPipeLine(schematic)">
                                        {{schematic.id}} - {{schematic.description}}
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>