<div>
    <!--Navigation and padding-->
    <navBar></navBar>

    <!--Alert container-->
    <div>
        <tdamNotifications></tdamNotifications>
    </div>


    <!--App Content Panel-->
    <div>
        <router-outlet></router-outlet>
    </div>
<div class="flex-container-main">
    <div id="tenant-options" *ngIf="!tenantSelected">
        <br>
        <h3><strong>Select a Tenant</strong></h3>
        <br>
        <br>
        <div class="grid grid-pad row">
            <div *ngFor="#tenant of tenants" (click)="gotoTenant(tenant)" class="col-1-2">
                <div class="module hero">
                    <h4>{{tenant.name}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
    <footer>
        TDAM DataHub <br />
        <a href="mailto:tdam-ops-sys@tdam.com?subject=TDAM DataHub Web Support">Support</a>
    </footer>
</div>
