/*
  Styling for form elements (TDAM)
*/

input,
select{
  height: 30px;
}

input[type="text"]{

  &:hover,
  &:active,
  &:focus {
    border: 1px solid $input-text-border-color;
    padding-bottom: 5px;
    border-bottom: 2px solid $input-border-focus;
  }
}

input[type="checkbox"] {
  height: 15px;
  width: 15px;
}

input[type="radio"] {
  height: 15px;
  width: 15px;
}

typeahead-input {
  width: 100%;
}

//
// Forms (OCA)
// --------------------------------------------------

// Normalize non-controls
//
// Restyle and baseline non-control form elements.

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
  color: $legend-color;
  border: 0;
}

label {
  display: inline-block;
  font-weight: normal;
}

// Normalize form controls

// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
  @include box-sizing(border-box);
}

// Set the height of select and file controls to match text inputs
input[type="file"] {
  display: block;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Fix optgroup Firefox bug per https://github.com/twbs/bootstrap/issues/7611
select optgroup {
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
}

// Focus for select, file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus;
}

// Fix for Chrome number input
// Setting certain font-sizes causes the `I` bar to appear on hover of the bottom increment button.
// See https://github.com/twbs/bootstrap/issues/8350 for more.
input[type="number"] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    height: auto;
  }
}

.form-control {
  @include rem(height, 38px);

  .tdam-form-compact > & {
    @include rem(height, 32px);
  }
}
textarea, .form-control {
  display: block;
  width: 100%;
  @include rem(padding, (6px 12px));

  color: $input-color;

  font-weight: normal;
  font-size: $font-size-large;

  vertical-align: middle;
  background-color: $white;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214

  border: 1px solid $input-border;

  border-bottom-color: $dark-gray;

  &:hover, &:focus {
    border: 1px solid $black;
    padding-bottom: 5px;
    border-bottom: 2px solid $input-border-focus;
  }

  outline: 0;

  -webkit-transition: border-color 300ms ease-in-out;
  -moz-transition: border-color 300ms ease-in-out;
  -o-transition: border-color 300ms ease-in-out;
  transition: border-color 300ms ease-in-out;

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus;

  // Placeholder
  //
  // Placeholder text gets special styles because when browsers invalidate entire
  // lines if it doesn't understand a selector/
  //@include placeholder;

  // Disabled and read-only inputs
  // Note: HTML5 says that controls under a fieldset > legend:first-child won't
  // be disabled if the fieldset is disabled. Due to implementation difficulty,
  // we don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: not-allowed;
    background-color: $input-bg-disabled;
    padding-bottom: 5px;
    border-bottom: 2px solid $input-border-focus;
  }

  border-radius: 0;

}

// Reset height for `textarea`s
textarea.form-control {
  height: auto;
  resize: none !important
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield
}

// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.
.form-group {
  margin-bottom: 15px;
  label {
    display: block;
  }
}

/* placeholder color browser, can't be grouped! */
input.form-control::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder {
  color: $input-color-placeholder;
}

/* FF 4-18 */
input.form-control:-moz-placeholder,
textarea.form-control:-moz-placeholder {
  color: $input-color-placeholder;
  opacity: 1;
}

/* FF 19+ */
input.form-control::-moz-placeholder,
textarea.form-control::-moz-placeholder {
  color: $input-color-placeholder;
  opacity: 1;
}

/* IE 10+ */
input.form-control:-ms-input-placeholder,
textarea.form-control:-ms-input-placeholder {
  color: $input-color-placeholder;
}

/* select drop down
==========================*/
.tdam-select {
  position: relative;
  vertical-align: middle;

  z-index: 1;
  -webkit-transition: border-color ease-in-out .15s;
  transition: border-color ease-in-out .15s;

  select:-moz-focusring {
    // removes the ouline in firefox for select on keyboard navigation
    color: transparent;
    text-shadow: 0 0 0 $black;
  }

  select {
    color: $text-color;
    line-height: 1.4;
    overflow: hidden;
    opacity: 1;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -ms-user-select: none;
    appearance: none;
    background-image: none;

    /* Remove IE native ui */
    &::-ms-expand {
      display: none;
    }
  }

  &:before, &:after {
    content: "";
    pointer-events: none;
    position: absolute;
  }

  &:before {
    bottom: 0;
    right: 0;
    top: 0;
    width: 2em;
    /* background-color: $white; TODO find out why this was made white since it won't work on any bckg other than white */
  }

  &:after {
    content: url(#{$image-dir}/forms/td-dropdown-arrow-default.gif);
    font-size: 0.625em;
    line-height: 1;
    @include rem(height, 16px);
    margin-top: -0.5em;
    right: 1.2em;
    top: 50%;
    color: $white;
  }

}

.tdam-select:hover:after, .tdam-select:focus:after {
  content: url(#{$image-dir}/forms/td-dropdown-arrow-valid.gif);
}

.tdam-group-hover .tdam-select:after,
.tdam-group-focus .tdam-select:after {
  content: url(#{$image-dir}/forms/td-dropdown-arrow-valid.gif);
}

.tdam-group-error .tdam-select:after {
  content: url(#{$image-dir}/forms/td-dropdown-arrow-error.gif);
}

/* label */
.tdam-form-label {
  display: block;
  visibility: hidden;
  @include rem(padding-left, 8px);
  color: $dark-green;
  padding-bottom:5px;
}

.tdam-form-label-visible {
  display: block;
  color: $text-color;
  padding-bottom:2px;
}

.tdam-group-valid .tdam-form-label {
  visibility: visible;
}

/* FOCUS, HOVER STAGES */
/* REVIEW THIS, maybe can still be used for ipad */
.tdam-group-focus input,
.tdam-group-focus .input-group-addon,
.tdam-group-focus .input-group-btn,
.tdam-group-focus .tdam-select,
.tdam-group-hover input,
.tdam-group-hover .input-group-addon,
.tdam-group-hover .input-group-btn,
.tdam-group-hover .tdam-select,
.tdam-group-focus.tdam-group-valid input,
.tdam-group-focus.tdam-group-valid .input-group-addon,
.tdam-group-focus.tdam-group-valid .input-group-btn,
.tdam-group-focus.tdam-group-valid .tdam-select,
.tdam-group-hover.tdam-group-valid input,
.tdam-group-hover.tdam-group-valid .input-group-addon,
.tdam-group-hover.tdam-group-valid .input-group-btn,
.tdam-group-hover.tdam-group-valid .tdam-select,
.tdam-select:hover,
.tdam-select:focus{
  border-bottom-color: $input-border-focus;
}
