// Left navigation
@media all and (max-width: 1675px) {

  .responsive-column {
    width: 100% !important;
  }

  #tdam-nav-left {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
    width: 50% !important;
  }
}
