.tdam-tab-items {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.tdam-tabs-primary {
  position: relative;
  z-index: 2;
  border-bottom: 1px solid $tab-border-color;
  padding: 0 12px;
  margin-left: auto;
  margin-right: auto;

  .tdam-tab-item {
    margin-right: 10px;
    padding: 0;
    border: 1px solid $tab-border-color;
    border-bottom: 1px solid $tab-border-bottom-color;
    vertical-align: bottom;
    display: inline-block;
    background: rgb(218, 232, 226);
    background: linear-gradient(to bottom, rgba(218, 232, 226, 1) 0%, rgba(255, 255, 255, 1) 100%);

    .tdam-tab-item-text {
      padding: 6px 12px 8px 12px;
      color: $tab-text-color;
      cursor: pointer;
      font-size: 15px;
    }

    &:hover, &:focus {
      border: 1px solid $tab-hover-border-color;
      border-bottom: 1px solid $tab-hover-border-bottom-color;
      background: $tab-hover-bg-color;
      bottom: -1px;
      position: relative;
      outline: none;
      .tdam-tab-item-text {
        color: $tab-hover-text-color;
      }
    }

    &.tdam-tab-item-active {
      border: 1px solid $tab-active-border-color;
      border-bottom: 1px solid $tab-active-border-bottom-color;
      background: $tab-active-bg-color;
      bottom: -1px;
      font-weight: bold;
      position: relative;

      .tdam-tab-item-text {
        padding: 13px 12px 9px 12px;
        color: $tab-active-text-color;
      }

    }
  }
}
