@import "variables";
@import "buttons";
@import "mixins";
@import "formElements";
@import "panels";
@import "responsiveness";
@import "scaffolding";
@import "tenant";
@import "tabs";
@import "../../ReusableComponents/formBuilder/_formBuilder";
@import "../../ReusableComponents/formBuilderTreeView/formBuilderTreeView";
@import "../../ReusableComponents/navbar/_navbar";
@import "../../ReusableComponents/navbarVert/_navbarVert";
@import "../../ReusableComponents/notification/_notification";
@import "../../ReusableComponents/pagination/_pagination";
@import "../../ReusableComponents/displayGrid/_displayGrid";
@import "../../ReusableComponents/spinner/_spinner";
@import "../routes/schematic/designer/_schematicDesigner";
@import "../routes/schematic/Execution/_schematicExecution";
@import "../routes/schematic/schematicpreview/_schematicpreview";

.changed {
  background-color: $pale-yellow;
}

.neutral {
  background-color: white;
}

#stepMsg option {
  background-color: lightyellow;

}



