.fullPage {
  width: 91%;
  height: 10%;
  margin-left: 20px;
  margin-bottom: 10px;
  transition:  width 1s, background-color 1s;
}



.splitPage {
  width: 45%;
  height: 15%;
  margin-left: 20px;
  margin-bottom: 10px;
  transition:  width 1s, background-color 1s;
}

.footerSplitPage {
  width: 50%;
  height: 5%;

}

.maxWidth{
  width: 100%;
  padding-left: 10px;
}

.divider{
  /*background-color: #ebfede;*/
  background-color: #FFF;
  height: 40px;

  :before {
    /*   content: "\e61f";*/
  }
}

.horizontalDivider{
  margin-right: 20px;
  margin-left: 20px;
}

.largeDivider{
  background-color: #ebfede;
  height: 60px;
}

.mediumDivider{
  /*background-color: #ebfede;*/
  background-color: #FFF;
  height: 40px;
}

.smallDivider{
  background-color: #ebfede;
  height: 10px;
}

.lineBreak{
  border-bottom: solid;
}

.addButton{
  height: 30px;
  width:30px;
  margin-left: 20px;
  margin-top: 110px;
}

.lowerButton{
  height: 20px;
  width:20px;
  margin-left: 40px;
  margin-top: 10px;
}

.lowerButton:active{
  margin-top:4px;
  box-shadow:inset 0 0 5px 0 ;
  -moz-box-shadow:inset 0 0 5px 0 ;
  -webkit-box-shadow:inset 0 1px 2px 0 , 0 1px 1px 0 ;
}

.lowerButtonReverse{
  height: 20px;
  width:20px;
  margin-left: 20px;
  margin-top: 10px;
  transform: rotate(180deg);
}

.lowerButtonReverse:active{
  margin-top:4px;
  box-shadow:inset 0 0 5px 0 ;
  -moz-box-shadow:inset 0 0 5px 0 ;
  -webkit-box-shadow:inset 0 1px 2px 0 , 0 1px 1px 0 ;
}

.collapseButton{
  height: 35px;
  width:35px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
}
.collapseButton:active{
  margin-top:4px;
  box-shadow:inset 0 0 5px 0 ;
  -moz-box-shadow:inset 0 0 5px 0 ;
  -webkit-box-shadow:inset 0 1px 2px 0 , 0 1px 1px 0 ;
}

.rowAlign{
  padding-left: 5px;
  padding-right: 5px;
}

.columnAlign{
  margin-top: 20px;
}

.rowLeftAlign{
  padding-left: 30px;
  padding-right: 5px;
}

.leftColumn{
  width:25%;
  border-right: double;
  margin-right:10px;
}

.rightColumn{
  margin-left: 10px;
  width:70%;
}

.headerLeftColumn{
  width:60%;
}

.headerRightColumn{
  width:40%;
  margin-right: 40px;
}

.footerRightColumn{
  margin-right: 40px;
}

.scrollbar{
  overflow-y:scroll;
  width: 100%;
  height: 100%;
}
.scrollbarContent{
  height:45%;
}

.rightAlign{
  float: right;
}

.header {
  width: 60%;
  height: 4%;
  margin-left: 5px;
}

.rebase{
  height: auto;
}

.mainPage{
  height: auto;
}

.subLeftColumn{
  width: 10%;
}

.subMiddleColumn{
  width: 80%;
}

.subRightColumn{
  width: 10%;
}

.innerLeftColumn{
  width: 50%;
}

.innerRightColumn{
  width: 30%;
}

.fullWidth{
  width: 100%;
}

.textArea{
  /*width: 50%;*/
  height: 100px;
}

.selectionArea{
  width: 100%;
  height: 25Px;
}

.rowLeftDoubleAlign{
  padding-left: 60px;
  padding-right: 5px;
}

#editableArea {

  button {
    margin-top: 5px;
  }

}


#stepConfig {
  background-color: #f4f7f4;

  .row {
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 10px;

    .stepConfig-label {
      /* centers text */
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 10%;
    }

  }

}