<form id="divSchematicExecution">
<article *ngIf="apiIsLoaded">
    <article id="schematicArea">
        <div id="processes" class="flex-container" *ngIf="!addSchematicVisibility">
            <div class="row">
                <!--       <div class="col-24"><strong>Select Schematic:</strong></div> -->
                       <!--<div class="col-12" style="border-radius: 15px; background: lightgray; text-align:left; height: 65px; width: 700px; display: inline-block; position: relative; z-index: 3">-->
              <div class="col-12">
                <div class="tdam-panel">
                  <label>Search for schematic:</label>
                  <typeahead-input [search]="autocompleteInput.searchSchematics" (onSelected)="onSchematicSelected($event)"></typeahead-input>
                </div>
              </div>
              <div class="col-12">
                <button id="addSchematicBtn" (click)="addSchematicClicked()" class="tdam-button tdam-button-secondary">
                  <span class="glyphicon glyphicon-plus-sign"></span>
                  Add New Schematic
                </button>
                <button (click)="deleteSchematicClicked()" class="tdam-button tdam-button-secondary"  *ngIf="selectedSchematic.isActive">
                  <span class="glyphicon glyphicon-erase"></span>
                  Deactivate Schematic
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <span>Schematic: <strong>{{selectedSchematic.schematicId}} : {{selectedSchematic.description}}</strong></span><span  *ngIf="!selectedSchematic.isActive" style="color:red">(deactivated)</span>
                  <!--
                    <select (change)="SchematicSelected($event.target.value)" class="selectionArea" >
                        <option *ngFor="#schematic of allSchematicsVM; #i = index" [selected] = "i == schematicIndex" (value)="schematic.schematicId">{{schematic.schematicId}} -- {{schematic.description}}{{schematic.Status}}</option>
                    </select>
                    -->
              </div>
            </div>
        </div>
        <section class="header" *ngIf="addSchematicVisibility">
            <label>Enter Schematic Name:</label>
            <div class="flex-container">
                <div class="row">
                    <div class="col-15">
                        <input [(ngModel)]="selectedProcessName" type="text">
                    </div>
                    <div class="col-5">
                        <button (click)="saveSchematicClicked()" class="tdam-button tdam-button-secondary">
                            <span class="glyphicon glyphicon-save"></span>
                            Save Schematic
                        </button>
                    </div>
                    <div class="col-4">
                        <button (click)="cancelSchematicClicked()" class="tdam-button tdam-button-secondary">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </article>
    <article id="stepsArea" *ngIf="!isPreviewClicked && !addSchematicVisibility">
        <div class="flex-container" *ngFor="#step of allStepsVM" class="tdam-panel" style="border-radius:10px 10px 0 0; ">
            <div id="StepColumn">
                <div class="flex-container">
                    <div class="row">
                        <div class="col-2">
                            <img src="./app/Datahub/img/collapse_expand.png" class="collapseButton " (click)="step.Visibility=!step.Visibility">
                        </div>
                        <div class="col-3">
                            <label class="">StepNo: {{step.StepNumber}}  </label>
                        </div>
                        <div class="col-8">
                            <input [attr.Id]="" type="checkbox" [(ngModel)]="step.StepActive" (click)="stepcheckboxClicked(step)"><label>{{step.UnitName}}</label>
                        </div>
                        <div class="col-4 pull-right">
                            <!--<img src="./app/img/Download.png" class="lowerButton" (click)="lowerStep(step)">-->
                            <button (click)="higherStep(step)" class="tdam-button tdam-button-secondary" *ngIf="step.StepNumber !== 1 && lastStepNumber > 1">
                                <span class="glyphicon glyphicon-arrow-up"></span>
                            </button>
                            <!--<img src="./app/img/Download.png" class="lowerButtonReverse" (click)="higherStep(step)">-->
                            <button (click)="lowerStep(step)" class="tdam-button tdam-button-secondary" *ngIf="step.StepNumber !== lastStepNumber && lastStepNumber > 1">
                                <span class="glyphicon glyphicon-arrow-down"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <section class="maxWidth" id ="innerSection" *ngIf="step.Visibility" >
                    <section *ngFor="#asset of step.StepAssets">
                            <div class="row" style="width:100%">
                            <div class="col-14">
                                <div *ngIf="!asset.isJSON">{{asset.ConfigValueTypeLookupKey}} === {{asset.ConfigurationValue | slice:0:70}}</div>
                                <div *ngIf="asset.isJSON" style="width:100%"> JSON Element: {{asset.ConfigurationValue | slice:0:30}}
                                  <!--  <button *ngIf="!asset.isVisible"  (click)="asset.isVisible=!asset.isVisible"><span class="glyphicon glyphicon-download"></span></button>
                                    <button  *ngIf="asset.isVisible"  (click)="asset.isVisible=!asset.isVisible"><span class="glyphicon glyphicon-upload"></span></button>-->
                                <json-edit *ngIf="asset.isJSON && asset.isVisible"  [inputJson]='asset.ConfigurationValue' [PredefinedJsonValues]="asset.Template" [isRoot]='true' (cancelChanges) ="jsonCanceled($event,asset)"  (out)="getJson($event, asset)"></json-edit>
                                </div>
                            </div>
                            <div class="col-6">
                                <button (click)="inlineDeleteClicked(asset)" class="tdam-button tdam-button-secondary">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                                <button *ngIf="!asset.isJSON" (click)="inlineEditClicked(asset.Sequence)" class="tdam-button tdam-button-secondary">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button *ngIf="asset.isJSON" (click)="asset.isVisible=!asset.isVisible" class="tdam-button tdam-button-secondary">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>


                            </div>
                            </div>
                        <section *ngIf="visiblityMatrix[asset.Sequence].Visibility && !asset.isJSON" id="editableArea" class="rowLeftDoubleAlign">
                            <textarea class="textArea" [(ngModel)]="asset.ConfigurationValue"></textarea>
                            <button (click)="inlineEditSave(asset)" class="tdam-button tdam-button-secondary">
                                <span class="glyphicon glyphicon-save"></span>
                                Save
                            </button>
                            <button (click)="inlineEditClicked(asset.Sequence)" class="tdam-button tdam-button-secondary">
                                <span class="glyphicon glyphicon-ban-circle"></span>
                                Cancel
                            </button>
                        </section>
                    </section>
                    <section class="maxWidth">
                        <button (click)="addConfigClicked(step)" class="tdam-button tdam-button-secondary">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            Add Step Configuration
                        </button>
                    </section>
                    <br/>
                    <section class="flex-container" *ngIf="step.StepAddingConfiguration">
                        <div class="row">
                       <section class="col-12">
                            <select #configValueTypeEntry class="innerLeftColumn" (change)="configValueTypeSelected($event.target.value, step)" >
                                 <option *ngFor="#configValueType of step.allConfigValueTypesVM" (value)="configValueType">{{configValueType.description}}</option>
                            </select>
                            <div class="rowleftalign innerRightColumn">
                                <button (click)="cancelConfigClicked(step)" class="tdam-button tdam-button-secondary innerLeftColumn rightAlign">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                    Cancel
                                </button>
                                <button (click)="saveConfigClicked(step, configValueTypeEntry.value)" class="tdam-button tdam-button-secondary innerLeftColumn rightAlign">
                                    <span class="glyphicon glyphicon-save"></span>
                                    Save
                                </button>
                            </div>
                       </section>
                        </div>
                       <input class="innerLeftColumn" [(ngModel)]="step.selectedConfigValue">
                    </section>
                </section>
            </div>
    <!--</div>-->
        </div>
        <article class="rowAlign columnAlign" >
            <section >
                <div  class="maxWidth footerRightColumn" >
                    &nbsp;
                    <button (click)="addStepClicked()" class="tdam-button tdam-button-secondary rightAlign">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Add New Step
                    </button>
                    <!--<button (click)="deleteStepClicked()" class="tdam-button tdam-button-secondary rightAlign horizontalDivider">
                        <span class="glyphicon glyphicon-erase"></span>
                        Delete Step
                    </button>-->
                    <!--
                    <button (click)="previewSchematicClicked()" class="tdam-button tdam-button-secondary rightAlign horizontalDivider">
                        <span class="glyphicon glyphicon-check"></span>
                        Preview Steps
                    </button>
                    -->
                </div>
            </section>
            <section class="header bgColor rebase" *ngIf="addStepVisibility">
                <label>Choose a unit:</label>
                <div class="flex-container">
                    <div class="footerSplitPage maxWidth">
                        <select (change)="unitSelected($event.target.value)" class="maxWidth" [disabled]="unitFrozen">
                            <option *ngFor="#unit of allUnitsVM" (value)="unit">{{unit.description}}</option>
                        </select>
                    </div>
                    <div class="footerSplitPage maxWidth">
                        <button (click)="saveStepClicked()" class="tdam-button tdam-button-secondary rightAlign">
                            <span class="glyphicon glyphicon-save"></span>
                            Save Step
                        </button>
                        <button (click)="cancelAddStepClicked()" class="tdam-button tdam-button-secondary rightAlign horizontalDivider">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                            Cancel
                        </button>
                    </div>
                </div>
            </section>
            <section  *ngIf="deleteStepVisibility">
                <label>Enter Step Name:</label>
                <div class="flex-container">
                    <div class="footerSplitPage maxWidth"><div class="maxWidth" >{{selectedSchematic.description}}</div></div>
                    <div class="footerSplitPage maxWidth">
                        <button (click)="confirmDeleteStepClicked()" class="tdam-button tdam-button-secondary rightAlign">
                            <span class="glyphicon glyphicon-check"></span>
                            Confirm Delete
                        </button>
                        <button (click)="cancelDeleteStepClicked()" class="tdam-button tdam-button-secondary rightAlign horizontalDivider">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                            Cancel
                        </button>
                    </div>
                </div>
            </section>
        </article>
    </article>
</article>

<article id="pluginSection">
    <div #dynamicplugin></div>
</article>

<!--
<article>
    <button (click)="previewCancelClicked()" class="tdam-button tdam-button-secondary rightAlign horizontalDivider" *ngIf="isPreviewClicked">
        <span class="glyphicon glyphicon-ban-circle"></span>
        Cancel
    </button>
    <schematicPreview></schematicPreview>
</article>
-->

</form>