//----- Data Grid Styling

.scrollableGrid {
  max-height: 600px;
  overflow-y: auto;
}

#dataGridBody {
  border-right: none;
  border-bottom: none;
  margin-bottom: 10px;
  // font-size
  @include em(15px);

  max-height: 500px;
  overflow-y: auto;

  th, td {
    max-width: 400px;
    overflow: auto;
    word-wrap: break-word;
  }
}

#dataGridHeader {
  th {
    font-weight: bold;
    // font-size
    @include em(14px);
    padding: 5px;
    text-align: center;
  }
}

// -------------------------
// Lookups
// -------------------------

#dataGridLookups {
  background: url(gradient-heading-top.gif) bottom left repeat-x;
}

.dataGridLookups-buttons {
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.dataGridLookups-cell {
  border-right: 1px solid;
  padding: 10px;
}

#dataGrid,
#dataGrid-spreadSheet {
  border-spacing: 0;
  margin: 0 0 1.5em 0;

  td {
    padding: 10px;
  }
}

#dataGridAddButton {
  margin-bottom: 10px;
}

#editInlinePage {
  padding: 25px;
}

/* Expand and collapse icons */
.toggleItem {
  margin: auto;
}

.cell-contents {
  max-height: 200px;
}

//----- Expanded content
.expand-content {
  margin: 30px;

  table {
    margin-bottom: 0;
  }
}

#dataGrid-buttons {
  padding: 5px;
  text-align: center;
}

.dataGridBody-pane {
  margin-bottom: 20px;
  max-height: 600px;
  overflow-y: auto;
}

.missedAccount {
  background-color: #FF0000;
}

.existingInstruction {
  background-color: #003300;
}

.passAudit {
  background-color: #c8ddca;
}