<div class="cal-day-view">
    <mwl-calendar-all-day-event
            *ngFor="let event of view.allDayEvents"
            [event]="event"
            (eventClicked)="eventClicked.emit({event: event})">
    </mwl-calendar-all-day-event>
    <div class="cal-hour-rows">
        <div class="cal-events">
            <mwl-calendar-day-view-event
                    *ngFor="let dayEvent of view?.events"
                    [dayEvent]="dayEvent"
                    (eventClicked)="eventClicked.emit({event: dayEvent.event})">
            </mwl-calendar-day-view-event>
        </div>
        <div class="cal-hour" *ngFor="let hour of hours" [style.minWidth.px]="view?.width + 70">
            <mwl-calendar-day-view-hour-segment
                    *ngFor="let segment of hour.segments"
                    [segment]="segment"
                    [locale]="locale"
                    (click)="hourSegmentClicked.emit({date: segment.date})">
            </mwl-calendar-day-view-hour-segment>
        </div>
    </div>
</div>