<div class="card-header" *ngIf="showTabHeaders">
    <ul class="nav nav-tabs card-header-tabs float-md-left">
        <li class="nav-item" *ngFor="let ln of tabs" (click)="childClicked(ln)">
            <a class="nav-link {{ln.activeClassChild}}">{{ln.TabKey | LocalizationTranslate}}</a>
        </li>
    </ul>
</div>
<!-- <article id="pluginSection">
     <div #dynamictabplugin></div>
 </article>-->
<div class="card-block">
    <template ngFor let-msg [ngForOf]="messages">
        <ul class="alert {{msg.alert}}">
            <li *ngFor="let msgText of msg.text">{{msgText}}</li>
        </ul>
    </template>
    <template ngFor let-controlitem [ngForOf]="pageControls">
        <div *ngIf="controlitem.PageType == 'formbuilder' && controlitem.ShowDefault" class="row">
            <b><div class="col-sm-12" *ngIf="controlitem.ComponentTitle">{{controlitem.ComponentTitle}}</div></b>
            <div class="col-sm-12 col-md-6">
                <formBuilder [gridSettings]="controlitem.gridSettings"
                             [httpProxy]="controlitem.httpProxy" [pluginInput]="controlitem.data"
                             [PageType]="controlitem.PageOperationType"
                             (formBuilderNotifier)="updateDataFromComponents($event, controlitem.ComponentName)"></formBuilder>
            </div>
        </div>
        <div *ngIf="controlitem.PageType =='assignablelist' && controlitem.ShowDefault" class="row">
            <b><div class="col-sm-12" *ngIf="controlitem.ComponentTitle">{{controlitem.ComponentTitle}}</div></b>
            <assignable-list [inputSettings]="controlitem.gridSettings"
                             [inputList]="controlitem.inputList" [assignedList]="controlitem.assignedList"
                             [inputTitle]="controlitem.inputTitle" [assignedTitle]="controlitem.assignedTitle"
                             (listOut)="updateDataFromComponents($event,controlitem.ComponentName)"></assignable-list>
        </div>
        <div *ngIf="controlitem.PageType =='displaygrid' && controlitem.ShowDefault" class="row">
            <b><div class="col-sm-12" *ngIf="controlitem.ComponentTitle">{{controlitem.ComponentTitle}}</div></b>
            <div class="col-sm-12">
                <displayGrid [inputGridSettings]="controlitem.gridSettings"
                             [inputHttpProxy]="controlitem.httpProxy" [inputPageName]="controlitem.ComponentName"
                             [pluginInput]="controlitem.data" [ParentIdInputValue]="controlitem.parentIdInputValue"
                             (displayGridNotifier)="updateDataFromComponents($event, controlitem.ComponentName)"></displayGrid>
            </div>
        </div>
    </template>
</div>
